extends base/_layout
block vars
    -
        var metaDescr = "Оставьте запрос на расчет сэндвич-панелей у компании Меркор. Наши специалисты помогут подобрать оптимальные решения для вашего проекта. Получите профессиональную консультацию прямо сейчас."
        var headerInverse = true
        var pageName = "calc"
block head
    title Меркор | Запрос расчёта
block page

    <div class="content">
        <div class="container">
            <h1 class="js-hide">Запрос расчёта</h1>
            <form class="row main-calc-row main-calc-form">
                <div class="col-6">
                    <div class="main-calc js-calc js-hide">
                        <input type="hidden" name="position" value="vertical">
                        <input type="hidden" name="color" value="RAL5002">
                        <div class="main-calc-section">
                            <div class="main-calc-section-title">Тип сэндвич-панелей</div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="radio-image radio-image--wall">
                                        <input type="radio" name="panel_type" value="wall" checked="">
                                        <span>
                                            <img src="./images/radio-wall.png" alt="">
                                            <span>Стеновые <br>сэндвич-панели</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="radio-image radio-image--roof">
                                        <input type="radio" name="panel_type" value="roof">
                                        <span>
                                            <img src="./images/radio-roof.png" alt="">
                                            <span>Кровельные <br>сэндвич-панели</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="main-calc-section">
                            <div class="main-calc-section-title">Сердцевина</div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="radio-image radio-image--pir">
                                        <input type="radio" name="material" value="pir" checked="">
                                        <span>
                                            <img src="./images/radio-rip.jpg" alt="">
                                            <span>PIR</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="radio-image radio-image--minvata">
                                        <input type="radio" name="material" value="minvata">
                                        <span>
                                            <img src="./images/radio-minvata.jpg" alt="">
                                            <span>Минеральная вата</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="main-calc-section">
                            <div class="main-calc-section-title">Тип профиля</div>
                            <div class="radio-tabs">
                                <label class="radio-tab only-sten">
                                    <input type="radio" name="profile_type" value="volna98">
                                    <span>С&nbsp;волной через&nbsp;98 мм</span>
                                </label>
                                <label class="radio-tab only-sten">
                                    <input type="radio" name="profile_type" value="glad">
                                    <span>Гладкий</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="profile_type" value="trap" checked="">
                                    <span>Трапециевидный</span>
                                </label>
                                <label class="radio-tab only-sten">
                                    <input type="radio" name="profile_type" value="micro">
                                    <span>Микроволна</span>
                                </label>
                            </div>
                        </div>

                        <div class="main-calc-section">
                            <div class="main-calc-section-title">Толщина</div>
                            <div class="radio-tabs">
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="40" checked="">
                                    <span>40</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="60">
                                    <span>60</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="80">
                                    <span>80</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="100">
                                    <span>100</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="120">
                                    <span>120</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="150">
                                    <span>150</span>
                                </label>
                                <label class="radio-tab">
                                    <input type="radio" name="tol" value="200">
                                    <span>200</span>
                                </label>
                            </div>
                        </div>

                        <div class="main-calc-section">
                            <div class="main-calc-section-title">Цвет</div>
                            <div class="color-picker-colors">
                                <div class="dark" style="background: #DED09F" data-color="RAL1014" data-color-name="Слоновая кость" data-color-code="#DED09F"><span>RAL 1014</span></div>
                                <div class="dark" style="background: #F3E03B" data-color="RAL1018" data-color-name="Жёлтый цинк" data-color-code="#F3E03B"><span>RAL 1018</span>
                                </div>
                                <div style="background: #276235" data-color="RAL6002" data-color-name="Зелёная листва" data-color-code="#276235"><span>RAL 6002</span></div>
                                <div style="background: #0F4336" data-color="RAL6005" data-color-name="Зелёный мох" data-color-code="#0F4336"><span>RAL 6005</span></div>

                                <div style="background: #E75B12" data-color="RAL2004" data-color-name="Чисто-оранжевый" data-color-code="#E75B12"><span>RAL 2004</span></div>
                                <div class="dark" style="background: #9EA0A1" data-color="RAL7004" data-color-name="Сигнально-серый" data-color-code="#9EA0A1"><span>RAL 7004</span></div>
                                <div style="background: #8D1D2C" data-color="RAL3003" data-color-name="Рубиново-красный" data-color-code="#8D1D2C"><span>RAL 3003</span></div>
                                <div style="background: #6B716F" data-color="RAL7005" data-color-name="Серая мышь" data-color-code="#6B716F"><span>RAL 7005</span></div>
                                <div style="background: #C1121C" data-color="RAL3020" data-color-name="Красный светофор" data-color-code="#C1121C"><span>RAL 3020</span></div>
                                <div style="background: #154889" data-color="RAL5005" data-color-name="Сигнально-синий" data-color-code="#154889"><span>RAL 5005</span></div>

                                <div style="background: #6A93B0" data-color="RAL5024" data-color-name="Пастельно-голубой" data-color-code="#6A93B0"><span>RAL 5024</span></div>
                                <div class="dark" style="background: #A5A8A6" data-color="RAL9006" data-color-name="Белый алюминий" data-color-code="#A5A8A6"><span>RAL 9006</span></div>

                                <div style="background: #703731" data-color="RAL3009" data-color-name="Оксид-красный" data-color-code="#703731"><span>RAL 3009</span></div>
                                <div style="background: #07737A" data-color="RAL5021" data-color-name="Морская волна" data-color-code="#07737A"><span>RAL 5021</span></div>
                                <div class="dark" style="background: #DDDED4" data-color="RAL9002" data-color-name="Серо-белый" data-color-code="#DDDED4"><span>RAL 9002</span>
                                </div>
                                <div class="dark" style="background: #F4F8F4" data-color="RAL9003" data-color-name="Сигнально-белый" data-color-code="#F4F8F4"><span>RAL 9003</span></div>

                                <div style="background: #5E2028" data-color="RAL3005" data-color-name="Спелая вишня" data-color-code="#5E2028"><span>RAL 3005</span></div>
                                <div style="background: #44322D" data-color="RAL8017" data-color-name="Шоколад" data-color-code="#44322D"><span>RAL 8017</span></div>
                                <div style="background: #7E292C" data-color="RAL3011" data-color-name="Красно-коричневый" data-color-code="#7E292C"><span>RAL 3011</span></div>
                                <div style="background: #2B2C7C" data-color="RAL5002" data-color-name="Ультрасиний" data-color-code="#2B2C7C" class="active"><span>RAL 5002</span></div>
                            </div>
                        </div>

                        <div class="main-calc-section main-calc-section--dop">
                            <div class="main-calc-section-title">Дополнительные услуги</div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="radio-image radio-image--dop-1">
                                        <input type="checkbox" name="dop_project" class="dop_select" value="Проектирование" checked="">
                                        <span>
                                            <img src="./images/dop-1.png" alt="">
                                            <span>Проектирование</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="radio-image radio-image--dop-2">
                                        <input type="checkbox" name="dop_delivery" class="dop_select" value="Доставка">
                                        <span>
                                            <img src="./images/dop-2.png" alt="">
                                            <span>Доставка</span>
                                        </span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label class="radio-image radio-image--dop-3">
                                        <input type="checkbox" name="dop_montag" class="dop_select" value="Монтаж">
                                        <span>
                                            <img src="./images/dop-3.png" alt="">
                                            <span>Монтаж</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pro-form-thx">
                        <div class="panel-form-title">Заявка на запрос <br>расчёта отправлена</div>
                        <div class="panel-form-subtitle">Спасибо, наш менеджер скоро свяжется с&nbsp;вами</div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="main-calc-info">
                        <div class="main-calc-section-title js-hide">Проверьте выбранные параметры</div>
                        <div class="main-calc-section-title js-show">Выбранные параметры</div>
                        <div class="info">
                            <div>Тип панелей <span class="js-panel-type-text">Стеновые</span></div>
                            <div>Сердцевина<span class="js-serd-text">PIR</span></div>
                            <div class="only-sten">Тип профиля
                                <span class="js-profile-type-text">Трапециевидный</span>
                            </div>
                            <div>Толщина
                                <span class="js-t-text">40</span>
                            </div>
                            <div>Цвет
                                <div class="color-flex"><span class="color-round" style="background-color: rgb(43, 44, 124);"></span><span class="js-color-text">Ультрасиний, RAL 5002</span></div>
                            </div>
                            <div>Дополнительные услуги <span class="js-service-text">Проектирование</span></div>
                        </div>
                        <div class="pcalc-image">
                            <img src="./images/calc/vertical/wall/trap/pir/RAL5002.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="main-calc-section main-calc-section--form js-hide">
                        <div class="main-calc-section-title">Контакты, количество и комментарий</div>
                        <div class="calc-form-row">
                            <div class="calc-form row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="form-group-title">Имя</div>
                                        <input name="name" type="text" class="form-control required_field">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="form-group-title">Телефон</div>
                                        <input name="phone" type="tel" class="form-control required_field" placeholder="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="form-group-title">Комментарий</div>
                                        <textarea name="comment" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="calc-quantity">
                                <div class="form-group-title">м² панелей</div>
                                <div class="calc-quantity-content">
                                    <input type="text" class="form-control js-quant" name="panel_count" value="20">
                                    <span class="minus">
                                        <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.79199 12H18.2087" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                    <span class="plus">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 5V19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <span class="custom_form_error" data-type="required" style="display: none;">Не все обязательные поля заполнены</span>
                                <span class="custom_form_error" data-type="phone_incorrect" style="display: none;">Пожалуйста, введите корректный номер телефона</span>
                                <div class="loader-wrapper">
                                    <button class="btn send-form grey-btn">Запросить расчёт</button>
                                    <div class="message_loader" style="display: none;">
                                        <img src="./images/message_loader.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
