extends base/_layout
block vars
    -
        var metaDescr = "Свяжитесь с нами — компанией Меркор, ведущим производителем сэндвич-панелей. Получите подробную информацию о нашей продукции, услугах производства и поставки. Оставьте запрос или задайте вопросы нашей команде экспертов."
        var headerInverse = true
        var pageName = 'contacts'
block head
    title Меркор | Контакты
block page

    <div class="content">
        <div class="container">
            <div class="row main-row">
                <div class="col-5">
                    <h1>Контакты</h1>
                    <div class="back-link-container">
                        <a download target="_blank" href="./files/Merkor-partners-card.pdf" class="icon-link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="#00B2E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7 10L12 15L17 10" stroke="#00B2E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 15V3" stroke="#00B2E3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg> Скачать карточку организации
                        </a>
                    </div>
                </div>
            </div>


            <div class="row main-row">
                <div class="col-5">

                    <div class="contacts-city">
                        <div class="contacts-city-title">Краснодар</div>
                        <div class="contacts-city-line">
                            <a href="tel:+79186498889">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.0014 16.92V19.92C22.0025 20.1985 21.9455 20.4741 21.8339 20.7293C21.7223 20.9845 21.5587 21.2136 21.3535 21.4018C21.1483 21.5901 20.906 21.7335 20.6421 21.8227C20.3783 21.9119 20.0988 21.945 19.8214 21.92C16.7442 21.5856 13.7884 20.5341 11.1914 18.85C8.77523 17.3146 6.72673 15.2661 5.1914 12.85C3.50138 10.2412 2.44964 7.27097 2.1214 4.17997C2.09641 3.90344 2.12927 3.62474 2.2179 3.3616C2.30652 3.09846 2.44897 2.85666 2.63616 2.6516C2.82336 2.44653 3.0512 2.28268 3.30519 2.1705C3.55917 2.05831 3.83374 2.00024 4.1114 1.99997H7.1114C7.5967 1.9952 8.06719 2.16705 8.43516 2.48351C8.80313 2.79996 9.04348 3.23942 9.1114 3.71997C9.23802 4.68004 9.47285 5.6227 9.8114 6.52997C9.94594 6.8879 9.97506 7.27689 9.8953 7.65086C9.81555 8.02482 9.63026 8.36809 9.3614 8.63998L8.0914 9.90997C9.51495 12.4135 11.5879 14.4864 14.0914 15.91L15.3614 14.64C15.6333 14.3711 15.9766 14.1858 16.3505 14.1061C16.7245 14.0263 17.1135 14.0554 17.4714 14.19C18.3787 14.5285 19.3213 14.7634 20.2814 14.89C20.7672 14.9585 21.2108 15.2032 21.5279 15.5775C21.8451 15.9518 22.0136 16.4296 22.0014 16.92Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg> +7 918 649 88 89
                            </a>
                            <a href="mailto:info@merkor.ru">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 4H4C2.89543 4 2 4.89543 2 6V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V6C22 4.89543 21.1046 4 20 4Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M22 7L13.03 12.7C12.7213 12.8934 12.3643 12.996 12 12.996C11.6357 12.996 11.2787 12.8934 10.97 12.7L2 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <span>info@merkor.ru</span>
                            </a>
                            <div>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 10C20 16 12 22 12 22C12 22 4 16 4 10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10V10Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg> ул. Северная, д. 311/1, оф. 310
                            </div>
                        </div>
                    </div>

                    <div class="contacts-city">
                        <div class="contacts-city-title">Липецк</div>
                        <div class="contacts-city-line">
                            <a href="tel:+79092222644">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.0014 16.92V19.92C22.0025 20.1985 21.9455 20.4741 21.8339 20.7293C21.7223 20.9845 21.5587 21.2136 21.3535 21.4018C21.1483 21.5901 20.906 21.7335 20.6421 21.8227C20.3783 21.9119 20.0988 21.945 19.8214 21.92C16.7442 21.5856 13.7884 20.5341 11.1914 18.85C8.77523 17.3146 6.72673 15.2661 5.1914 12.85C3.50138 10.2412 2.44964 7.27097 2.1214 4.17997C2.09641 3.90344 2.12927 3.62474 2.2179 3.3616C2.30652 3.09846 2.44897 2.85666 2.63616 2.6516C2.82336 2.44653 3.0512 2.28268 3.30519 2.1705C3.55917 2.05831 3.83374 2.00024 4.1114 1.99997H7.1114C7.5967 1.9952 8.06719 2.16705 8.43516 2.48351C8.80313 2.79996 9.04348 3.23942 9.1114 3.71997C9.23802 4.68004 9.47285 5.6227 9.8114 6.52997C9.94594 6.8879 9.97506 7.27689 9.8953 7.65086C9.81555 8.02482 9.63026 8.36809 9.3614 8.63998L8.0914 9.90997C9.51495 12.4135 11.5879 14.4864 14.0914 15.91L15.3614 14.64C15.6333 14.3711 15.9766 14.1858 16.3505 14.1061C16.7245 14.0263 17.1135 14.0554 17.4714 14.19C18.3787 14.5285 19.3213 14.7634 20.2814 14.89C20.7672 14.9585 21.2108 15.2032 21.5279 15.5775C21.8451 15.9518 22.0136 16.4296 22.0014 16.92Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg> +7 909 222-26-44
                            </a>
                            <a href="mailto:merkor001@merkor.ru">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 4H4C2.89543 4 2 4.89543 2 6V18C2 19.1046 2.89543 20 4 20H20C21.1046 20 22 19.1046 22 18V6C22 4.89543 21.1046 4 20 4Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M22 7L13.03 12.7C12.7213 12.8934 12.3643 12.996 12 12.996C11.6357 12.996 11.2787 12.8934 10.97 12.7L2 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                <span>merkor001@merkor.ru</span>
                            </a>
                        </div>
                    </div>
                    
                </div>

                <div class="col-7">

                    <div class="contacts-city">
                        <div class="map_zone" data-id="3" data-lat="45.039095" data-lng="38.984799" id="map_3"></div>
                    </div>



                </div>
            </div>
        </div>
    </div>
