extends base/_layout
block vars
    -
        var metaDescr = "Страница не найдена"
        var headerInverse = true
block head
    title Меркор | Страница не найдена (Ошибка 404)
block page

    <div class="content">
        <div class="container">
            <div class="page-404">
                <div class="title text-outline">404</div>
                <div class="page-404-title">Ошибка. Страница не&nbsp;найдена.</div>
                <div class="page-404-text"></div>
            </div>
        </div>
    </div>
