extends base/_layout
block vars
    -
        var metaDescr = "Меркор — ваш надежный поставщик трехслойных сэндвич-панелей. Широкий ассортимент высококачественных материалов для строительства. Доверьтесь опыту и профессионализму компании Меркор."
        var pageName = 'index'
block head
    title Меркор | Поставщик сэндвич-панелей
block page

    <div class="hero hero--home">
        <div class="h-video">
            <video preload="auto" autoplay="" loop="" playsinline="" muted="">
                <source src="./images/videos/home.mp4">
            </video>
        </div>

        <div class="container">
            <div class="hero-title">Сэндвич<span></span>панели</div>
            <div class="hero-subtitle">Комплексная поставка <br> трехслойных сэндвич-панелей</div>
            <a href="./index.html#production" class="btn btn-inverse" data-scroll=".production-title">Посмотреть продукцию</a>
        </div>

        <img src="./images/svg/home-hero-1.svg" alt="" class="hero--home-line hero--home-line--blue">
        <img src="./images/svg/home-hero-2.svg" alt="" class="hero--home-line hero--home-line--yellow">
    </div>

    <div class="content">
        <div class="container">

            include ./blocks/_products-for-index

            <div class="home-b1 has-border">
                <div class="row">
                    <div class="col-6">
                        <div class="h2">Преимущества использования <br>сэндвич-панелей</div>
                        <div class="home-b1-texts">
                            <div class="home-b1-mobile-subtitle">Сэндвич-панели — это надёжная защита:</div>
                            <div class="text-outline">Защита</div>
                            <div class="home-b1-title">
                                <img src="./images/defence-1.png" alt=""> от огня
                            </div>
                            <div class="home-b1-text">Огнестойкие панели с минераловатным наполнителем применяют в качестве наружных ограждающих конструкций и&nbsp;перегородок, что позволяет возводить универсальные здания разного назначения и этажности.
                            </div>

                            <div class="home-b1-title">
                                <img src="./images/defence-2.png" alt="">от плесени и грибка
                            </div>
                            <div class="home-b1-text">Отсутствие склонности к появлению коррозии, плесени, а также образованию грибка.
                            </div>

                            <div class="home-b1-title">
                                <img src="./images/defence-3.png" alt="">от звука и холода
                            </div>
                            <div class="home-b1-text">Высокие тепло- и звукоизолирующие свойства.
                            </div>

                            <div class="home-b1-title">
                                <img src="./images/defence-4.png" alt="">от воды
                            </div>
                            <div class="home-b1-text">Высокая устойчивость к поглощению влаги.
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <img class="home-b1-image" src="./images/home-panels.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="features features-home">
                <div class="row">
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-ruble.png" alt="">
                            </div>

                            <div class="features-item-title">Экономичность</div>

                            <div class="features-item-text">
                                <p><span class="color-blue">—</span> доступная и экономичная транспортировка;</p>
                                <p><span class="color-blue">—</span> низкие затраты на капитальное строительство (небольшой вес панелей не требует специальной техники при монтаже, достаточно облегченного фундамента).</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-paint.png" alt="">
                            </div>

                            <div class="features-item-title">Гибкость в выборе дизайна</div>

                            <div class="features-item-text">
                                <p><span class="color-blue">—</span> эстетичный внешний вид с&nbsp;большим выбором отделки и&nbsp;цветовой палитры.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-flash.png" alt="">
                            </div>

                            <div class="features-item-title">Лёгкий монтаж и демонтаж</div>

                            <div class="features-item-text">
                                <p><span class="color-blue">—</span> простота и сжатые сроки монтажа;</p>
                                <p><span class="color-blue">—</span> легкая замена панелей, поврежденных в процессе эксплуатации;</p>
                                <p><span class="color-blue">—</span> возможность демонтажа с&nbsp;сохранением конструкциями своих свойств.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-home">
                <div class="features-icons">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-ruble.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-paint.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-flash.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-title">Экономичность</div>
                                <div class="features-item-text">
                                    <p><span class="color-blue">—</span> доступная и экономичная транспортировка;</p>
                                    <p><span class="color-blue">—</span> низкие затраты на капитальное строительство (небольшой вес панелей не требует специальной техники при монтаже, достаточно облегченного фундамента).</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Гибкость в выборе дизайна</div>
                                <div class="features-item-text">
                                    <p><span class="color-blue">—</span> эстетичный внешний вид с&nbsp;большим выбором отделки и&nbsp;цветовой палитры.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Лёгкий монтаж и демонтаж</div>
                                <div class="features-item-text">
                                    <p><span class="color-blue">—</span> простота и сжатые сроки монтажа;</p>
                                    <p><span class="color-blue">—</span> легкая замена панелей, поврежденных в процессе эксплуатации;</p>
                                    <p><span class="color-blue">—</span> возможность демонтажа с&nbsp;сохранением конструкциями своих свойств.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            include ./blocks/_objects_block

            include ./blocks/_descr_block

        </div>


            <div class="home-process">
                <div class="container">

                    <div class="h2">Процесс производства сэндвич-панелей
                        <div class="subtitle">10 этапов автоматизированного производства позволяют выпускать 1,5 млн кв. метров сэндвич-панелей в год</div>
                    </div>
                    <div class="row">
                        <div class="process-item process-item--1 col-12">
                            <div class="process-item-content">
                                <a class="process-item-image" href="./images/process-1.jpg" data-fancybox="process">
                                    <img src="./images/process-1.jpg" alt="">
                                </a>
                                <div class="process-item-step">
                                    <div class="text-outline">01</div>
                                    <div class="process-item-step-title">Размотка рулона</div>
                                </div>
                            </div>
                        </div>

                        <div class="process-item process-item--2 col-12">
                            <div class="process-item-content">
                                <a class="process-item-image" href="./images/process-2.jpg" data-fancybox="process">
                                    <img src="./images/process-2.jpg" alt="">
                                </a>
                                <div class="process-item-step">
                                    <div class="text-outline">02</div>
                                    <div class="process-item-step-title">Нанесение защитной плёнки</div>
                                </div>
                            </div>
                        </div>

                        <div class="process-item process-item--3 col-12">
                            <div class="process-item-content">
                                <a class="process-item-image" href="./images/process-3.jpg" data-fancybox="process">
                                    <img src="./images/process-3.jpg" alt="">
                                </a>
                                <div class="process-item-step">
                                    <div class="text-outline">03</div>
                                    <div class="process-item-step-title">Профилирование металла</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="./manufacturing.html" class="home-process-link">
                        <svg viewBox="0 0 672 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M63.0753 101.1V162H49.0683V112.584H21.5763V162H7.56934V101.1H63.0753Z" fill="currentColor"></path>
                            <path d="M115.756 163.044C109.434 163.044 103.721 161.681 98.6169 158.955C93.5709 156.229 89.5979 152.488 86.6979 147.732C83.8559 142.918 82.4349 137.524 82.4349 131.55C82.4349 125.576 83.8559 120.211 86.6979 115.455C89.5979 110.641 93.5709 106.871 98.6169 104.145C103.721 101.419 109.434 100.056 115.756 100.056C122.078 100.056 127.762 101.419 132.808 104.145C137.854 106.871 141.827 110.641 144.727 115.455C147.627 120.211 149.077 125.576 149.077 131.55C149.077 137.524 147.627 142.918 144.727 147.732C141.827 152.488 137.854 156.229 132.808 158.955C127.762 161.681 122.078 163.044 115.756 163.044ZM115.756 151.038C119.352 151.038 122.6 150.226 125.5 148.602C128.4 146.92 130.662 144.6 132.286 141.642C133.968 138.684 134.809 135.32 134.809 131.55C134.809 127.78 133.968 124.416 132.286 121.458C130.662 118.5 128.4 116.209 125.5 114.585C122.6 112.903 119.352 112.062 115.756 112.062C112.16 112.062 108.912 112.903 106.012 114.585C103.112 116.209 100.821 118.5 99.1389 121.458C97.5149 124.416 96.7029 127.78 96.7029 131.55C96.7029 135.32 97.5149 138.684 99.1389 141.642C100.821 144.6 103.112 146.92 106.012 148.602C108.912 150.226 112.16 151.038 115.756 151.038Z" fill="currentColor"></path>
                            <path d="M229.575 150.516V174.615H216.525V162H173.547V174.615H160.497L160.584 150.516H163.02C166.674 150.4 169.255 147.732 170.763 142.512C172.271 137.292 173.199 129.839 173.547 120.153L174.243 101.1H221.049V150.516H229.575ZM185.988 121.458C185.698 128.708 185.089 134.798 184.161 139.728C183.233 144.6 181.812 148.196 179.898 150.516H207.129V112.584H186.249L185.988 121.458Z" fill="currentColor"></path>
                            <path d="M273.95 101.1C279.344 101.1 284.013 101.999 287.957 103.797C291.959 105.595 295.033 108.147 297.179 111.453C299.325 114.759 300.398 118.674 300.398 123.198C300.398 127.664 299.325 131.579 297.179 134.943C295.033 138.249 291.959 140.801 287.957 142.599C284.013 144.339 279.344 145.209 273.95 145.209H261.683V162H247.589V101.1H273.95ZM273.167 133.725C277.401 133.725 280.62 132.826 282.824 131.028C285.028 129.172 286.13 126.562 286.13 123.198C286.13 119.776 285.028 117.166 282.824 115.368C280.62 113.512 277.401 112.584 273.167 112.584H261.683V133.725H273.167Z" fill="currentColor"></path>
                            <path d="M348.129 163.044C341.807 163.044 336.094 161.681 330.99 158.955C325.944 156.229 321.971 152.488 319.071 147.732C316.229 142.918 314.808 137.524 314.808 131.55C314.808 125.576 316.229 120.211 319.071 115.455C321.971 110.641 325.944 106.871 330.99 104.145C336.094 101.419 341.807 100.056 348.129 100.056C354.451 100.056 360.135 101.419 365.181 104.145C370.227 106.871 374.2 110.641 377.1 115.455C380 120.211 381.45 125.576 381.45 131.55C381.45 137.524 380 142.918 377.1 147.732C374.2 152.488 370.227 156.229 365.181 158.955C360.135 161.681 354.451 163.044 348.129 163.044ZM348.129 151.038C351.725 151.038 354.973 150.226 357.873 148.602C360.773 146.92 363.035 144.6 364.659 141.642C366.341 138.684 367.182 135.32 367.182 131.55C367.182 127.78 366.341 124.416 364.659 121.458C363.035 118.5 360.773 116.209 357.873 114.585C354.973 112.903 351.725 112.062 348.129 112.062C344.533 112.062 341.285 112.903 338.385 114.585C335.485 116.209 333.194 118.5 331.512 121.458C329.888 124.416 329.076 127.78 329.076 131.55C329.076 135.32 329.888 138.684 331.512 141.642C333.194 144.6 335.485 146.92 338.385 148.602C341.285 150.226 344.533 151.038 348.129 151.038Z" fill="currentColor"></path>
                            <path d="M400.833 101.1H449.988V112.323H414.84V124.851H431.718C439.084 124.851 444.681 126.388 448.509 129.462C452.395 132.536 454.338 136.973 454.338 142.773C454.338 148.863 452.192 153.59 447.9 156.954C443.608 160.318 437.547 162 429.717 162H400.833V101.1ZM428.934 151.56C432.53 151.56 435.285 150.864 437.199 149.472C439.113 148.022 440.07 145.934 440.07 143.208C440.07 137.872 436.358 135.204 428.934 135.204H414.84V151.56H428.934Z" fill="currentColor"></path>
                            <path d="M529.444 101.1V162H515.35V137.031H487.684V162H473.59V101.1H487.684V125.112H515.35V101.1H529.444Z" fill="currentColor"></path>
                            <path d="M600.382 150.69V162H553.228V101.1H599.251V112.41H567.235V125.634H595.51V136.596H567.235V150.69H600.382Z" fill="currentColor"></path>
                            <path d="M667.446 150.69V162H620.292V101.1H666.315V112.41H634.299V125.634H662.574V136.596H634.299V150.69H667.446Z" fill="currentColor"></path>
                            <path d="M603.125 43.5H653.875" stroke="#00B2E3" stroke-width="7.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M628.5 18.125L653.875 43.5L628.5 68.875" stroke="#00B2E3" stroke-width="7.25" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M448 43.5C448 41.567 449.567 40 451.5 40H613V47H451.5C449.567 47 448 45.433 448 43.5V43.5Z" fill="#00B2E3"></path>
                            <path d="M62.5532 14.0999L36.6272 62.2979C34.1332 66.9379 31.1172 70.4469 27.5792 72.8249C24.0992 75.2029 20.3002 76.3919 16.1822 76.3919C12.9922 76.3919 9.6862 75.6959 6.2642 74.3039L9.6572 63.6029C12.0932 64.3569 14.1232 64.7339 15.7472 64.7339C17.4872 64.7339 19.0532 64.3279 20.4452 63.5159C21.8372 62.6459 23.1132 61.3119 24.2732 59.5139L24.7952 58.8179L0.783203 14.0999H15.8342L32.0162 46.8119L48.7202 14.0999H62.5532Z" fill="currentColor"></path>
                            <path d="M112.828 43.2449C116.366 44.4629 119.121 46.3769 121.093 48.9869C123.123 51.5389 124.138 54.5259 124.138 57.9479C124.138 61.6599 122.92 64.8789 120.484 67.6049C118.048 70.3309 114.742 72.4189 110.566 73.8689C106.448 75.3189 101.924 76.0439 96.9937 76.0439C92.8177 76.0439 88.6417 75.5219 84.4657 74.4779C80.3477 73.4339 76.4327 71.8389 72.7206 69.6929L77.0706 59.6009C79.7386 61.2249 82.6677 62.4719 85.8577 63.3419C89.1057 64.1539 92.2667 64.5599 95.3407 64.5599C99.5167 64.5599 102.968 63.8059 105.694 62.2979C108.478 60.7899 109.87 58.6729 109.87 55.9469C109.87 53.6849 108.913 51.9739 106.999 50.8139C105.143 49.6539 102.591 49.0739 99.3427 49.0739H84.4657V38.4599H98.2987C101.141 38.4599 103.345 37.8799 104.911 36.7199C106.535 35.5599 107.347 33.9649 107.347 31.9349C107.347 29.5569 106.187 27.7009 103.867 26.3669C101.605 25.0329 98.6757 24.3659 95.0797 24.3659C92.4117 24.3659 89.6567 24.7429 86.8147 25.4969C83.9727 26.1929 81.2756 27.2659 78.7236 28.7159L74.4606 17.7539C80.8986 14.4479 87.8587 12.7949 95.3407 12.7949C100.097 12.7949 104.476 13.4909 108.478 14.8829C112.48 16.2749 115.67 18.3049 118.048 20.9729C120.426 23.6409 121.615 26.7439 121.615 30.2819C121.615 33.1819 120.832 35.7629 119.266 38.0249C117.7 40.2869 115.554 42.0269 112.828 43.2449Z" fill="currentColor"></path>
                            <path d="M199.675 14.0999V74.9999H185.581V50.0309H157.915V74.9999H143.821V14.0999H157.915V38.1119H185.581V14.0999H199.675Z" fill="currentColor">
                            </path>
                            <path d="M264.698 61.9499H236.423L231.029 74.9999H216.587L243.731 14.0999H257.651L284.882 74.9999H270.092L264.698 61.9499ZM260.261 51.2489L250.604 27.9329L240.947 51.2489H260.261Z" fill="currentColor"></path>
                            <path d="M344.97 25.5839H325.482V74.9999H311.562V25.5839H292.161V14.0999H344.97V25.5839Z" fill="currentColor"></path>
                            <path d="M391.839 34.1099C399.263 34.1099 404.947 35.7629 408.891 39.0689C412.893 42.3749 414.894 47.2759 414.894 53.7719C414.894 60.6739 412.69 65.9519 408.282 69.6059C403.932 73.2019 397.784 74.9999 389.838 74.9999H362.346V14.0999H376.353V34.1099H391.839ZM389.055 64.5599C392.709 64.5599 395.551 63.6609 397.581 61.8629C399.669 60.0649 400.713 57.4549 400.713 54.0329C400.713 47.7109 396.827 44.5499 389.055 44.5499H376.353V64.5599H389.055Z" fill="currentColor"></path>
                        </svg>
                    </a>

                </div>
            </div>


        .container

            include ./blocks/_request

            include ./blocks/_npartners

        include ./blocks/_good-item


    </div>









