extends base/_layout
block vars
    -
        var metaDescr = "Меркор — ваш надежный поставщик трехслойных сэндвич-панелей. Широкий ассортимент высококачественных материалов для строительства. Доверьтесь опыту и профессионализму компании Меркор."
        var headerInverse = false
block head
    title Меркор | Поставщик сэндвич-панелей
block page

    <div class="hero hero--panel hero--pro">
        <img class="hero--pro-image" src="./images/hero-production2.jpg" alt="">
        <div class="container">
            <div class="hero-title">Производство <br>сэндвич-панелей</div>
            <div class="hero-subtitle">ООО «ЗСК Сэндвич-панель» — предприятие нового поколения, является одним из крупнейших производителей сэндвич-панелей.
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="pro-pre row">
                <div class="col-5">
                    <div class="h2">Виды продукции
                        <div class="subtitle">
                            <p>Выпускаемые трехслойные стеновые и кровельные сэндвич-панели имеют толщину от 40 до 250 мм и&nbsp;предназначаются для единой системы быстровозводимых зданий и&nbsp;металлоконструкций.</p>
                            <p>Панели выпускаются с защитной пленкой из оцинкованной стали с&nbsp;полимерным покрытием и&nbsp;с&nbsp;различными наполнителями: минплитой на базальной основе, полиизоциануратом (PIR).</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-offset-1">
                    <div class="pro-2-numbers">
                        <div class="text-outline">1,5<span> млн</span></div>
                        <div class="pro-2-numbers-text"> кв. метров сэндвич-панелей в год выпускает «ЗСК Сэндвич-панель»</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panels-scroll table-scroll invis-scroll">
            <img src="./images/pro-2.jpg" alt="" class="pro-2">
        </div>

        <div class="container pro-process__section">
            <div class="s-mat">
                <div class="h2">Используемое сырьё</div>
                <div class="partners">
                    <div class="partner">
                        <img src="./images/partner-1.png" alt="">
                        <span>Производитель стали</span>
                    </div>
                    <div class="partner">
                        <img src="./images/partner-2.png" alt="">
                        <span>МВУ</span>
                    </div>
                    <div class="partner">
                        <img src="./images/partner-3.png" alt="">
                        <span>PIR-компоненты и клей</span>
                    </div>
                    <div class="partner">
                        <img src="./images/partner-4.png" alt="">
                        <span>Оборудование для производства сэнвич-панелей</span>
                    </div>
                </div>
            </div>

            <div class="pro-process">
                <div class="h2">Производственная <br>линия сэндвич-панелей</div>
                <div class="row">
                    <div class="process-item process-item--1 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-1.jpg" data-fancybox="process">
                                <img src="./images/process-1.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">01</div>
                                <div class="process-item-step-title">Размотка рулона</div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--2 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-2.jpg" data-fancybox="process">
                                <img src="./images/process-2.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">02</div>
                                <div class="process-item-step-title">Нанесение защитной плёнки</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="process-item process-item--4 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-4.jpg" data-fancybox="process">
                                <img src="./images/process-4.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">04</div>
                                <div class="process-item-step-title">Нанесение клеевого состава</div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--3 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-3.jpg" data-fancybox="process">
                                <img src="./images/process-3.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">03</div>
                                <div class="process-item-step-title">Профилирование металла</div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--5 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-5.jpg" data-fancybox="process">
                                <img src="./images/process-5.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">05</div>
                                <div class="process-item-step-title">Подача PIR-компонентов</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="process-item process-item--6 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-6.jpg" data-fancybox="process">
                                <img src="./images/process-6.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">06</div>
                                <div class="process-item-step-title">Сопряжение сердечника <br>с&nbsp;облицовками металла <br>посредством пресс-<br>термического воздействия
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--7 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-7.jpg" data-fancybox="process">
                                <img src="./images/process-7.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">07</div>
                                <div class="process-item-step-title">Нарезка сэндвич-панели <br>по заданным длинам</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="process-item process-item--8 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-8.jpg" data-fancybox="process">
                                <img src="./images/process-8.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">08</div>
                                <div class="process-item-step-title">Охлаждение панелей <br>и формирование <br>в пачки</div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--9 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-9.jpg" data-fancybox="process">
                                <img src="./images/process-9.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">09</div>
                                <div class="process-item-step-title">Упаковка</div>
                            </div>
                        </div>
                    </div>

                    <div class="process-item process-item--10 col-12">
                        <div class="process-item-content">
                            <a class="process-item-image" href="./images/process-10.jpg" data-fancybox="process">
                                <img src="./images/process-10.jpg" alt="">
                            </a>
                            <div class="process-item-step">
                                <div class="text-outline">10</div>
                                <div class="process-item-step-title">Подготовка <br>к транспортировке</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
