extends base/_layout
block vars
    -
        var metaDescr = "Мы предоставляем сэндвич-панели для различных объектов: от промышленных сооружений до коммерческих комплексов. Убедитесь в качестве и надежности наших решений."
        var headerInverse = true
        var pageName = "objects"
block head
    title Меркор | Объекты
block page

    <div class="content section">
        <div class="container">
            <h2 class="h2">Объекты</h2>

            .nobjects__wrapper 

                include ./blocks/_objects_item.pug
                include ./blocks/_objects_item.pug
                include ./blocks/_objects_item.pug
                include ./blocks/_objects_item.pug
                include ./blocks/_objects_item.pug
                include ./blocks/_objects_item.pug

            a.nobjects__link.nobjects__show_more(hfef="./objects.html") Показать больше


            ul.nobjects__pagination

                li: a.is-active(href="#") 1
                li: a(href="#") 2
                li: a(href="#") 3
                li: span ...
                li: a(href="#") 6
                li: a(href="#") 7




            <div id="showmore-triger"></div>
            <div class="loader" style="display: none;">
                <img src="./images/loader.png" alt=""> Загружаем <br>объекты...
            </div>
        </div>

    </div>
