extends base/_layout
block vars
    -
        var metaDescr = "Профнастил от Меркор — широкий ассортимент и высокое качество. Экономичность, гибкость в выборе дизайна, экологичность, долговечность и пожаробезопасность."
        var headerInverse = true
block head
    title Меркор | Профнастил
block page

    <div class="hero hero--panel hero--panel--prof">
        <div class="container">
            <div class="hero-title">Профнастил<img src="./images/gost-4.png" alt=""></div>
            <div class="hero-subtitle">Плоские гофрированные листы металла разной толщины и размера из экологически безопасного материала. Допускается использование на объектах с повышенными экологическими требованиями, таких как школы и детские сады.</div>
            <img src="./images/hero-prof.png" alt="" class="hero--panel-image">
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="rulon-colors">
                <div class="row rulon-colors-title">
                    <div class="col-6">
                        <div class="h2">Для чего подходит</div>
                    </div>
                    <div class="col-6">
                        <p>Прочный и экономичный материал, не требующий особенного ухода. Для производства используют оцинкованную рулонную сталь с полимерным покрытием и без него. Профилированные листы различаются по форме и высоте гофры, по ширине готового профиля и условиям применения.</p>
                    </div>
                </div>
            </div>

            <div class="pn-images">
                <div>
                    <div class="pn-info">
                        <span>До 20 мм</span> В качестве декоративных элементов (заборы, внутренние и внешние стены зданий).
                    </div>
                    <img src="./images/pn-1.jpg" alt="">
                </div>
                <div>
                    <img src="./images/pn-2.jpg" alt="">
                    <div class="pn-info">
                        <span>Больше 20 мм</span> Используют как конструктивные элементы кровли в гражданском и промышленном строительстве.
                    </div>
                </div>
            </div>

            <div class="features features-home">
                <div class="row">
                    <div class="col-4">
                        <div class="h2">Плюсы профнастила</div>
                    </div>
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-ruble.png" alt="">
                            </div>

                            <div class="features-item-title">Экономичность</div>

                            <div class="features-item-text">
                                <p><span class="color-blue">—</span> доступная и экономичная транспортировка;</p>
                                <p><span class="color-blue">—</span> низкие эксплуатационные расходы;</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-paint.png" alt="">
                            </div>

                            <div class="features-item-title">Гибкость в выборе дизайна</div>

                            <div class="features-item-text">
                                <p><span class="color-blue">—</span> огромный выбор цветовых решений;</p>
                                <p><span class="color-blue">—</span> эстетичный внешний вид.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-eco.png" alt="">
                            </div>

                            <div class="features-item-title">Экологичность</div>

                            <div class="features-item-text">
                                <p>Экологичный материал, возможно применение на объектах с&nbsp;высокими экологическими требованиями: школы и детские сады.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-50.png" alt="">
                            </div>

                            <div class="features-item-title">Долговечность</div>

                            <div class="features-item-text">
                                <p>При соблюдении правил монтажа и условий эксплуатации материал прослужит до 50 лет.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="./images/f-icon-fire.png" alt="">
                            </div>

                            <div class="features-item-title">Пожаробезопасность</div>

                            <div class="features-item-text">
                                <p>Профнастил не выступает источником возгорания, не поддерживает горение и не воспламеняется.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-home">
                <div class="h2 text-center">Плюсы профнастила</div>
                <div class="features-icons">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-ruble.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-paint.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-eco.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-50.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="./images/f-icon-fire.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-title">Экономичность</div>
                                <div class="features-item-text">
                                    <p><span class="color-blue">—</span> доступная и экономичная транспортировка;</p>
                                    <p><span class="color-blue">—</span> низкие эксплуатационные расходы;</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Гибкость в выборе дизайна</div>
                                <div class="features-item-text">
                                    <p><span class="color-blue">—</span> огромный выбор цветовых решений;</p>
                                    <p><span class="color-blue">—</span> эстетичный внешний вид.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Экологичность</div>
                                <div class="features-item-text">
                                    <p>Экологичный материал, возможно применение на объектах с&nbsp;высокими экологическими требованиями: школы и детские сады.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Долговечность</div>
                                <div class="features-item-text">
                                    <p>При соблюдении правил монтажа и условий эксплуатации материал прослужит до 50 лет.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Пожаробезопасность</div>
                                <div class="features-item-text">
                                    <p>Профнастил не выступает источником возгорания, не поддерживает горение и не воспламеняется.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="rulon-colors">
                <div class="rulon-colors-title">
                    <div class="h2">Основная <br>линейка профнастила</div>
                </div>
            </div>

            <div class="p-e section">
                <div>
                    <img src="./images/prof/monterrey_2.png?w=700" alt="">
                    <img src="./images/prof/scheme/super_monterey.png" alt="">
                    <div class="p-e-info">
                        <span>Металлочерепица «Супермонтеррей» 1180мм</span>Это кровельный материал из&nbsp;стального листа толщиной 0,45–0,5&nbsp;мм, ставший общепринятой классикой. «Супермонтеррей» имеет высоту 20&nbsp;мм, а&nbsp;шаг волны&nbsp;— 350&nbsp;мм. Это делает рельеф «Супермонтеррей» более объемным и&nbsp;подчеркнутым и&nbsp;в&nbsp;совокупности с&nbsp;огромным выбором цветов покрытия, разнообразными фактурами и&nbsp;наличием декоративных эффектов позволяет реализовать востребованные дизайнерские решения при монтаже кровли.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/c-8_1150.png?w=700" alt="">
                    <img src="./images/prof/scheme/C8.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист C8 1150</span>Профнастил С-8 1150&nbsp;— это один из&nbsp;популярных универсальных профилей, широко применяемых в&nbsp;строительстве нашего времени. Профнастил С-8&nbsp;— очень экономичный профлист, его используют в&nbsp;качестве стенового отделочного материала, для установки заборов и&nbsp;монтирования подвесных потолков. Несмотря на&nbsp;невысокие несущие характеристики, нередко профлист С-8 используют также в&nbsp;качестве материала для монтажа кровельных покрытий скатных крыш с&nbsp;углом наклона больше 40°. Профлист С-8 имеет поверхность с&nbsp;трапециевидными гофрами высотой 8&nbsp;мм, шириной основания 62,5&nbsp;мм и&nbsp;расстоянием между гофрами 52,5&nbsp;мм. На&nbsp;нашем предприятии можно изготовить профнастил С-8, размеры листа&nbsp;— от&nbsp;0,5 до&nbsp;12&nbsp;м.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/c-10_1100.png?w=700" alt="">
                    <img src="./images/prof/scheme/C10.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист C-10×1100</span>Профнастил C-10×1100-A, B&nbsp;(прямая и&nbsp;обратная стороны)&nbsp;— один из&nbsp;классических видов стенового материала. Сегодня данная продукция имеет достаточно широкую сферу применения и&nbsp;используется для облицовки фасадов промышленных и&nbsp;жилых зданий, возведения стен и&nbsp;перегородок. Профлист C-10×1100-A, B&nbsp;имеет трапециевидную форму профиля небольшой высоты (10&nbsp;мм), он&nbsp;прекрасно дополнит архитектурные решения в&nbsp;любом современном стиле. Полимерное покрытие обладает насыщенным цветом, стойкостью к&nbsp;механическим повреждениям и&nbsp;атмосферным явлениям, ультрафиолетовым лучам, благодаря чему профнастил долгое время сохраняет свой насыщенный цвет и&nbsp;эксплуатационные качества.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/c-21_1000.png?w=700" alt="">
                    <img src="./images/prof/scheme/С21.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист С-21×1000</span>Профнастил С-21 является одним из&nbsp;самых востребованных и&nbsp;популярных профилей среди профессиональных строителей. Марка С-21 считается универсальной маркой и&nbsp;применяется при строительстве кровель, заборов, фасадов, возведении производственных складов и&nbsp;ангаров. Профлист С-21 характеризуется одинаковым размером равномерной трапеции с&nbsp;обоих сторон листа и&nbsp;высотой профиля 21&nbsp;мм. По&nbsp;сравнению с&nbsp;ближайшим аналогом (С-20) профлист марки С-21 имеет больше ребер жесткости и&nbsp;выдерживает большую физическую нагрузку при той&nbsp;же толщине металла.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/hc-35_1000.png?w=700" alt="">
                    <img src="./images/prof/scheme/НС35.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист НС-35×1000</span>Профнастил НС-35×1000 имеет трапециевидную форму с&nbsp;широко расположенными ребрами жесткости, высотой 35&nbsp;мм и&nbsp;шириной 70&nbsp;мм. Дополнительное усиление, устойчивость к&nbsp;изгибу и&nbsp;надежность придают профилю канавки. Данная геометрия позволяет использовать профлист НС-35×1000&nbsp;не только для организации кровли и&nbsp;ограждений, но&nbsp;в&nbsp;качестве несущих конструкций со&nbsp;значительной нагрузкой.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/hc-44_1000.png?w=700" alt="">
                    <img src="./images/prof/scheme/НC44.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист НC-44×1000</span>Профлист НС-44×1000 обычно применяется для кровельных и&nbsp;фасадных работ. Он&nbsp;может быть использован как для строительства новых зданий, так и&nbsp;для ремонта и&nbsp;реконструкции существующих. Этот тип профлиста отлично подходит для наклонных крыш и&nbsp;позволяет обеспечить надежную защиту от&nbsp;атмосферных явлений, таких как осадки и&nbsp;ультрафиолетовое излучение. Он&nbsp;также может использоваться для облицовки стен, создания ограждений и&nbsp;перегородок.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/h-60_820.png?w=700" alt="">
                    <img src="./images/prof/scheme/H60.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист H-60×820</span> Предназначен для организации несущих конструкций и&nbsp;устройства скатных кровель. Материал профнастила H-60×820 выполнен из&nbsp;холоднокатаной оцинкованной стали толщиной 0,5–0,9&nbsp;мм и&nbsp;имеет трапециевидную форму профиля. При достаточно большой ширине ребра (122&nbsp;мм) расстояние шага составляет всего 50&nbsp;мм, усиление конструкции и&nbsp;повышенную стойкость к&nbsp;изгибу обеспечивают дополнительные канавки. Подробные характеристики нагрузок на&nbsp;материал указаны в&nbsp;технической документации.
                    </div>
                </div>
                <div>
                    <img src="./images/prof/h-75_750.png?w=700" alt="">
                    <img src="./images/prof/scheme/H75.png" alt="">
                    <div class="p-e-info">
                        <span>Профлист H-75×750</span> Профнастил H-75×750 имеет трапециевидную форму с&nbsp;высотой ребра 75&nbsp;мм и&nbsp;шириной 92&nbsp;мм, шаг составляет 50&nbsp;мм. К&nbsp;особенностям геометрии данного профлиста можно отнести наличие дополнительных канавок на&nbsp;каждом ребре, а&nbsp;также рельефную поверхность ребер, что в&nbsp;целом позволяет значительно усилить устойчивость материала к&nbsp;изгибу при значительных нагрузках. Это подтверждают испытания и&nbsp;тесты профлист H-75×750, с&nbsp;результатами которых можно ознакомиться в&nbsp;технической документации к&nbsp;материалу. Данные свойства позволяют использовать профилированный лист Н-75 для организации несущих конструкций, неснимаемой опалубки, скатной и&nbsp;плоской кровли, перекрытий и&nbsp;в&nbsp;других целях. Профлист применяется в&nbsp;несущих конструкциях, потолках, неснимаемых опалубках, скатных и&nbsp;плоских кровлях, а&nbsp;также для перекрытий.
                    </div>
                </div>
            </div>

            section.section

                h3.nservices__inner_title Профнастил разной толщины

                p.nservices__text Дополнительная герметизация силиконовым герметиком или специальным бутилкаучуковым шнуром для повышения влагозащиты и уменьшения теплопотери.



            include ./blocks/_colour_solutions



            section.section 
                h2.h3.nservices__inner_title Профнастил разной толщины

                p.nservices__text Дополнительная герметизация силиконовым герметиком или специальным бутилкаучуковым шнуром для повышения влагозащиты и уменьшения теплопотери.



            include ./blocks/_request

        </div>
    </div>
