extends base/_layout
block vars
    -
        var metaDescr = "Стеновые сэндвич-панели компании Меркор — идеальное решение для вашего строительства. Обеспечиваем прочность, энергоэффективность и эстетическую привлекательность. Доверьтесь нашему опыту и качеству."
        var headerInverse = true
block head
    title Меркор | Стеновые сэндвич-панели
block page

    <div class="hero hero--panel hero--panel--3">
        <div class="container">
            <div class="hero-title">Стеновые <br>сэндвич-панели</div>
            <div class="hero-subtitle">Трёхслойная конструкция, состоящая из двух профилированных листов металла и&nbsp;утеплительного минерального слоя, находящегося между ними.</div>
            <a href="./files/tech-catalog.pdf" download target="_blank" class="btn">Скачать каталог</a>
            <img src="./images/hero-panel-3.png" alt="" class="hero--panel-image">
        </div>
    </div>

    <div class="content">
        <div class="container">

            <div class="home-b1 has-border">
                <div class="h2">Характеристики <br>стеновых панелей</div>
                <div class="pcalc">
                    <div class="pcalc-image">
                        <img src="./images/calc/horizontal/wall/trap/minvata/RAL5002.png?w=1114&amp;h=330&amp;fit=crop" alt="">
                    </div>
                    <div class="pcalc-calc js-calc">
                        <div class="form-group">
                            <input type="hidden" name="position" value="horizontal">
                            <input type="hidden" name="color" value="RAL5002">
                            <input type="hidden" name="panel_type" value="wall">
                            <div class="form-group-title">Цвет</div>
                            <div class="form-group-content">
                                <div class="color-picker">
                                    <div class="color-picker-value">
                                        <span class="color-picker-value-color" style="background-color: #2B2C7C"></span>
                                        <span class="color-picker-value-text">Ультрасиний, RAL 5002</span>
                                    </div>
                                    <div class="color-picker-content">
                                        <div class="color-picker-colors">
                                            <div class="dark" style="background: #DED09F" data-color="RAL1014" data-color-name="Слоновая кость" data-color-code="#DED09F">
                                                <span>RAL 1014</span>
                                            </div>
                                            <div class="dark" style="background: #F3E03B" data-color="RAL1018" data-color-name="Жёлтый цинк" data-color-code="#F3E03B"><span>RAL 1018</span></div>
                                            <div style="background: #276235" data-color="RAL6002" data-color-name="Зелёная листва" data-color-code="#276235"><span>RAL 6002</span></div>
                                            <div style="background: #0F4336" data-color="RAL6005" data-color-name="Зелёный мох" data-color-code="#0F4336"><span>RAL 6005</span></div>

                                            <div style="background: #E75B12" data-color="RAL2004" data-color-name="Чисто-оранжевый" data-color-code="#E75B12"><span>RAL 2004</span></div>
                                            <div class="dark" style="background: #9EA0A1" data-color="RAL7004" data-color-name="Сигнально-серый" data-color-code="#9EA0A1">
                                                <span>RAL 7004</span>
                                            </div>
                                            <div style="background: #8D1D2C" data-color="RAL3003" data-color-name="Рубиново-красный" data-color-code="#8D1D2C"><span>RAL 3003</span></div>
                                            <div style="background: #6B716F" data-color="RAL7005" data-color-name="Серая мышь" data-color-code="#6B716F"><span>RAL 7005</span>
                                            </div>
                                            <div style="background: #C1121C" data-color="RAL3020" data-color-name="Красный светофор" data-color-code="#C1121C"><span>RAL 3020</span></div>
                                            <div style="background: #154889" data-color="RAL5005" data-color-name="Сигнально-синий" data-color-code="#154889"><span>RAL 5005</span></div>

                                            <div style="background: #6A93B0" data-color="RAL5024" data-color-name="Пастельно-голубой" data-color-code="#6A93B0"><span>RAL 5024</span></div>
                                            <div class="dark" style="background: #A5A8A6" data-color="RAL9006" data-color-name="Белый алюминий" data-color-code="#A5A8A6">
                                                <span>RAL 9006</span>
                                            </div>

                                            <div style="background: #703731" data-color="RAL3009" data-color-name="Оксид-красный" data-color-code="#703731"><span>RAL 3009</span></div>
                                            <div style="background: #07737A" data-color="RAL5021" data-color-name="Морская волна" data-color-code="#07737A"><span>RAL 5021</span></div>
                                            <div class="dark" style="background: #DDDED4" data-color="RAL9002" data-color-name="Серо-белый" data-color-code="#DDDED4"><span>RAL 9002</span>
                                            </div>
                                            <div class="dark" style="background: #F4F8F4" data-color="RAL9003" data-color-name="Сигнально-белый" data-color-code="#F4F8F4">
                                                <span>RAL 9003</span>
                                            </div>

                                            <div style="background: #5E2028" data-color="RAL3005" data-color-name="Спелая вишня" data-color-code="#5E2028"><span>RAL 3005</span></div>
                                            <div style="background: #44322D" data-color="RAL8017" data-color-name="Шоколад" data-color-code="#44322D"><span>RAL 8017</span>
                                            </div>
                                            <div style="background: #7E292C" data-color="RAL3011" data-color-name="Красно-коричневый" data-color-code="#7E292C"><span>RAL 3011</span></div>
                                            <div style="background: #2B2C7C" data-color="RAL5002" data-color-name="Ультрасиний" data-color-code="#2B2C7C"><span>RAL 5002</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group-title">Сердцевина</div>
                            <div class="form-group-content">
                                <label class="radio">
                                    <input type="radio" name="material" value="minvata" checked="">
                                    <span>Минеральная вата</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="material" value="pir">
                                    <span>PIR</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group-title">Тип профиля</div>
                            <div class="form-group-content">
                                <label class="radio only-sten">
                                    <input type="radio" name="profile_type" value="volna98">
                                    <span>С&nbsp;волной через&nbsp;98 мм</span>
                                </label>
                                <label class="radio only-sten">
                                    <input type="radio" name="profile_type" value="glad">
                                    <span>Гладкий</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="profile_type" value="trap" checked="">
                                    <span>Трапециевидный</span>
                                </label>
                                <label class="radio only-sten">
                                    <input type="radio" name="profile_type" value="micro">
                                    <span>Микроволна</span>
                                </label>
                            </div>
                        </div>
                        <a href="../calc?paneltype=wall&amp;profiletype=trap&amp;material=minvata&amp;colorname=RAL5002" class="panel-form-calc js-calc-link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V4C20 2.89543 19.1046 2 18 2Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8 6H16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M16 14V18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 10H16.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 10H12.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 10H8.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 14H12.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 14H8.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 18H12.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 18H8.01" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg> Запросить расчёт
                        </a>
                    </div>
                </div>
            </div>

            <div class="features features-panel">
                <div class="row">
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">01</div>
                            </div>

                            <div class="features-item-title">Сильные стороны</div>

                            <div class="features-item-text">
                                <p>Быстрота возведения, возможность осуществления работ вне зависимости от времени года, отсутствие необходимости в отделке, универсальность и долговечность.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">02</div>
                            </div>

                            <div class="features-item-title">Для чего подходят</div>

                            <div class="features-item-text">
                                <p>Подходят для возведения ограждающих конструкций фасадов здания, разделительных и&nbsp;противопожарных перегородок, подвесных потолков, шумозащитных заборов и иных.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">03</div>
                            </div>

                            <div class="features-item-title">Особенности состава</div>

                            <div class="features-item-text">
                                <p>Трехслойные панели, состоящие из двух металлических листов и слоя утеплителя между ними — минеральной ваты или полиизоцианурата (PIR).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-panel">
                <div class="features-icons">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(305.5px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="margin-right: 90px;">
                                <div class="features-item-icon features-item-icon--text">
                                    <div class="text-outline">01</div>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-next" style="margin-right: 90px;">
                                <div class="features-item-icon features-item-icon--text">
                                    <div class="text-outline">02</div>
                                </div>
                            </div>

                            <div class="swiper-slide" style="margin-right: 90px;">
                                <div class="features-item-icon features-item-icon--text">
                                    <div class="text-outline">03</div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
                            <div class="next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); height: 109px;">
                            <div class="swiper-slide swiper-slide-active" style="width: 681px;">
                                <div class="features-item-title">Сильные стороны</div>
                                <div class="features-item-text">
                                    <p>Быстрота возведения, возможность осуществления работ вне зависимости от времени года, отсутствие необходимости в отделке, универсальность и долговечность.</p>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-next" style="width: 681px;">
                                <div class="features-item-title">Для чего подходят</div>
                                <div class="features-item-text">
                                    <p>Подходят для возведения ограждающих конструкций фасадов здания, разделительных и&nbsp;противопожарных перегородок, подвесных потолков, шумозащитных заборов и иных.</p>
                                </div>
                            </div>

                            <div class="swiper-slide" style="width: 681px;">
                                <div class="features-item-title">Особенности состава</div>
                                <div class="features-item-text">
                                    <p>Трехслойные панели, состоящие из двух металлических листов и слоя утеплителя между ними — минеральной ваты или полиизоцианурата (PIR).</p>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>

            <div class="panel-tables">
                <div class="h2">Техническое <br>описание</div>

                <div class="table-block active">
                    <div class="table-block-title table-block-title--simple">
                        <div class="title title-simple">Основные размеры панелей</div>
                    </div>

                    <div class="table-block-row">
                        <div class="table-block-content">
                            <div class="table-scroll invis-scroll">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Марка панелей</th>
                                            <th>Длина (L), мм</th>
                                            <th>Ширина (B), мм</th>
                                            <th>Толщина (H), мм</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ПТСМ</td>
                                            <td>2000–14000</td>
                                            <td>1000, 1180, 1190</td>
                                            <td>80, 100, 120, 150, 200, 250</td>
                                        </tr>
                                        <tr>
                                            <td>ПТКМ</td>
                                            <td>2000–14000</td>
                                            <td>1000</td>
                                            <td>80, 100, 120, 150, 200</td>
                                        </tr>
                                        <tr>
                                            <td>ПТСП</td>
                                            <td>2000–14000</td>
                                            <td>1000, 1180, 1190</td>
                                            <td>40, 60, 80, 100, 120, 150</td>
                                        </tr>
                                        <tr>
                                            <td>ПТКП</td>
                                            <td>2000–14000</td>
                                            <td>1000</td>
                                            <td>60, 80, 100, 120, 150</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="table-block-text">
                            <p>Рабочая ширина стеновых сэндвич-панелей составляет 1180 мм. По желанию заказчика возможно изготовление стеновых панелей шириной 1000 мм и 1190 мм.</p>
                            <p>Панели могут комплектоваться полным набором нащельников, коньковыми элементами, водосливными системами, фасонными деталями, крепежными изделиями, а также другими доборными элементами, которые придают зданию оригинальность и&nbsp;архитектурную выразительность.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-krep">
                <div class="h2">Как панели крепятся друг к другу</div>

                <div class="krep">
                    <div class="row">
                        <div class="col-6 krep-text">
                            <div class="text-outline">Z-lock</div>
                            <p>Один из самых популярных типов замковых соединений.</p>
                            <p class="strong">Преимущества</p>
                            <div class="row">
                                <div class="col-6">
                                    <p><span class="color-blue">—</span> плотность крепления достаточно высокая для того, чтобы избегать «мостиков холода» в местах стыка;</p>
                                    <p><span class="color-blue">—</span> монтировать можно как в горизонтальном, так и вертикальном положении;</p>
                                </div>
                                <div class="col-6">
                                    <p><span class="color-blue">—</span> есть возможность использовать уплотнительные материалы в условиях повышенной влажности;</p>
                                    <p><span class="color-blue">—</span> большая глубина соединения дает гарантию плотного стыка.</p>
                                </div>
                            </div>
                            <p class="strong">Что потребуется дополнительно</p>
                            <p>Дополнительная герметизация силиконовым герметиком или специальным бутилкаучуковым шнуром для повышения влагозащиты и уменьшения теплопотери.</p>
                        </div>
                        <div class="col-6 krep-image">
                            <img src="./images/svg/zlock.svg" alt="">
                            <img src="./images/svg/zlock2.svg" alt="">
                        </div>
                    </div>
                </div>

                <div class="krep">
                    <div class="row">
                        <div class="col-6 krep-image">
                            <img src="./images/svg/secretfix.svg" alt="">
                            <img src="./images/svg/secretfix2.svg" alt="">
                        </div>
                        <div class="col-6 krep-text">
                            <div class="text-outline">Secret Fix</div>
                            <p>Из явных преимуществ данного типа замкового соединения (его еще называют «Скрытый замок») можно выделить отсутствие видимого крепления сэндвич-панелей.</p>
                            <p class="lg-blue">На что стоит обратить внимание, так это на то, что Secret Fix подходит только для вертикального монтажа, который необходимо проводить с тщательной осторожностью.</p>
                            <p>Скрытое крепление придаёт зданию большую эстетическую привлекательность при том, что сохраняет по своим техническим свойствам и характеристикам качества стандартного соединения Z-Lock.</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="panel-form panel-form--3">
                <div>
                    <div class="panel-form-title">Стеновые <br>сэндвич-панели</div>
                    <div class="panel-form-actions">
                        <a href="../files/tech-catalog.pdf" download target="_blank" class="btn">Скачать каталог</a>
                        <a href="../calc?paneltype=wall&amp;profiletype=trap&amp;material=minvata&amp;colorname=RAL5002" class="panel-form-calc js-calc-link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 2H6C4.89543 2 4 2.89543 4 4V20C4 21.1046 4.89543 22 6 22H18C19.1046 22 20 21.1046 20 20V4C20 2.89543 19.1046 2 18 2Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 6H16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 14V18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 10H16.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 10H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 10H8.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 14H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 14H8.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12 18H12.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M8 18H8.01" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg> Запросить расчёт
                        </a>
                    </div>
                </div>
                <img src="./images/panel-form-3.png" alt="">
            </div>

            include ./blocks/_request

            include ./blocks/_other-products

        </div>
    </div>
