extends base/_layout
block vars
    -
        var metaDescr = "Фасонные элементы и комплектующие от Меркор — идеальное дополнение к сэндвич-панелям. Разнообразие форм и прочные материалы для вашего проекта. Закажите сейчас."
        var headerInverse = true
block head
    title Меркор | Фасонные элементы и комплектующие
block page


    <div class="hero hero--panel hero--panel--fason">
        <div class="container">
            <div class="hero-title">Фасонные элементы и&nbsp;комплектующие</div>
            <div class="hero-subtitle">Фасонные элементы нужны для скрытия стыков и торцов панелей. Для их крепления используются саморезы или заклепки небольшой длины, а установка фасонного элемента происходит снизу вверх.</div>
            <a href="files/fason-catalog.pdf" class="btn" download target="_blank">Скачать каталог</a>
            <img src="images/hero-fason.png" alt="" class="hero--panel-image">
            <img src="images/hero-fason-mobile.png" alt="" class="hero--panel-image--mobile">
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="rulon-colors">
                <div class="rulon-colors-title mbr-title-center">
                    <div class="h2">Характеристики фасонных <br>элементов и&nbsp;комплектующих</div>
                </div>
            </div>

            <div class="features features-panel">
                <div class="row">
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">01</div>
                            </div>

                            <div class="features-item-title">Сильные стороны</div>

                            <div class="features-item-text">
                                <p>Защищают от влаги, от воздействия внешней среды, добавляют эстетичности сэндвич-панелям.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">02</div>
                            </div>

                            <div class="features-item-title">Для чего подходят</div>

                            <div class="features-item-text">
                                <p>Используются для перекрытия стыков, торцов и иных конструктивных узлов стен и кровли. Они изготавливаются из металла и&nbsp;могут иметь полимерное покрытие. При правильном монтаже и&nbsp;использовании снижаются риски потери тепла и увеличивается срок эксплуатации.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">03</div>
                            </div>

                            <div class="features-item-title">Как подобрать подходящие</div>

                            <div class="features-item-text">
                                <p>При подборе фасонных элементов важно учитывать толщину покрытия металла и прочие его характеристики, тип герметика и&nbsp;особенности монтажа.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-panel">
                <div class="features-icons">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class=" features-item-icon features-item-icon--text">
                                    <div class="text-outline">01</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon features-item-icon--text">
                                    <div class="text-outline">02</div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon features-item-icon--text">
                                    <div class="text-outline">03</div>
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-title">Сильные стороны</div>
                                <div class="features-item-text">
                                    <p>Защищают от влаги, от воздействия внешней среды, добавляют эстетичности сэндвич-панелям.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Для чего подходят</div>
                                <div class="features-item-text">
                                    <p>Используются для перекрытия стыков, торцов и иных конструктивных узлов стен и кровли. Они изготавливаются из металла и&nbsp;могут иметь полимерное покрытие. При правильном монтаже и&nbsp;использовании снижаются риски потери тепла и увеличивается срок эксплуатации.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Как подобрать подходящие</div>
                                <div class="features-item-text">
                                    <p>При подборе фасонных элементов важно учитывать толщину покрытия металла и прочие его характеристики, тип герметика и&nbsp;особенности монтажа.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rulon-colors">
                <div class="rulon-colors-title">
                    <div class="h2">Стандартные <br>фасонные элементы</div>
                </div>
            </div>

            <div class="f-e">
                <div>
                    <img src="./images/products/fason/64b53a8138536.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Наружный угол стены</span> Применяется в качестве обрамления углового стыка сэндвич-панелей.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53ac0460ea.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Внутренний угол стены</span> Несет декоративную и защитную функцию, закрывая внутренние углы от мелких ошибок и воздействия окружающей среды.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53b1bc0add.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Цокольный доборный элемент</span> Предназначается для защиты или декоративного оформления примыкания нижней панели к основанию.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53b4cf23c9.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Стык вертикальных панелей</span> Используется для оформления стыка стеновой и кровельной панели.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53b6b06a28.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Стык горизонтальных панелей</span> Используется для оформления стыка стеновой и кровельной панели.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53b979fca0.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Конек</span> Применяется на стыке (коньке) двух скатов кровельных сэндвич-панелей.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53bd7bd471.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Верхний свес односкатной кровли</span> Применяется в качестве обрамления стыка свеса кровельных панелей.
                    </div>
                </div>
                <div>
                    <img src="./images/products/fason/64b53be8384e7.png?w=297" alt="">
                    <div class="f-e-info">
                        <span>Нижний свес кровельной панели</span> Применяется в качестве обрамления стыка свеса кровельных панелей.
                    </div>
                </div>
            </div>

        </div>
    </div>
