extends base/_layout
block vars
    -
        var metaDescr = "Производство и монтаж металлоконструкций и резервуаров от Меркор. Качественные решения для надежных и прочных проектов. Обращайтесь к нам сегодня."
        var headerInverse = true
block head
    title Меркор | Производство и монтаж металлоконструкций и резервуаров
block page

    <div class="hero hero--panel hero--panel--service-3">
        <div class="container">
            <div class="hero-title">Монтаж</div>
            <div class="hero-subtitle">Перед началом монтажных работ обеспечиваем качественную техническую подготовку монтажа трехслойных панелей и места строительства, соблюдаем действующие нормы и правила по&nbsp;технике безопасности.</div>
            <img src="images/hero-service-3.jpg" alt="" class="hero--panel-image">
        </div>
    </div>

    <div class="content">
        <div class="container">

            <div class="features features-home">
                <div class="row">
                    <div class="col-4">
                        <div class="h2">Техническая подготовка
                            <div class="subtitle">Техническая подготовка монтажа заключается в обеспечении проектной и&nbsp;монтажной документацией.</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-t1.png" alt="">
                            </div>

                            <div class="features-item-text">
                                <p>Планы раскладки панелей по&nbsp;фасадам или кровле совместно с&nbsp;комплектовочными ведомостями на&nbsp;панели.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-t2.png" alt="">
                            </div>

                            <div class="features-item-text">
                                <p>Спецификации (ведомости комплектации) доборных, соединительных, уплотнительных и&nbsp;отделочных элементов.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-t3.png" alt="">
                            </div>

                            <div class="features-item-text">
                                <p>Решения отдельных узлов и&nbsp;элементов монтажа.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-t4.png" alt="">
                            </div>

                            <div class="features-item-text">
                                <p>Способ крепления панелей к&nbsp;несущим конструкциям в крайних и&nbsp;промежуточных полях.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-t5.png" alt="">
                            </div>

                            <div class="features-item-text">
                                <p>Технологический регламент монтажа и монтажные схемы.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-home">
                <div class="h2 text-center">Техническая подготовка
                    <div class="subtitle">Техническая подготовка монтажа заключается в обеспечении проектной и&nbsp;монтажной документацией.</div>
                </div>
                <div class="features-icons">
                    <div class="swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 0ms;">
                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-t1.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-t2.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-t3.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-t4.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-t5.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
                            <div class="next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
                        <div class="swiper-wrapper" style="transition-duration: 0ms;">
                            <div class="swiper-slide">
                                <div class="features-item-text">
                                    <p>Планы раскладки панелей по&nbsp;фасадам или кровле совместно с&nbsp;комплектовочными ведомостями на&nbsp;панели.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-text">
                                    <p>Спецификации (ведомости комплектации) доборных, соединительных, уплотнительных и&nbsp;отделочных элементов.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-text">
                                    <p>Решения отдельных узлов и&nbsp;элементов монтажа.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-text">
                                    <p>Способ крепления панелей к&nbsp;несущим конструкциям в крайних и&nbsp;промежуточных полях.</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-text">
                                    <p>Технологический регламент монтажа и монтажные схемы.</p>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
            <div class="big-blue-m">Перед началом монтажа панелей необходимо проверить качественное выполнение монтажа несущих конструкций и&nbsp;опорных узлов с точки зрения их соответствия проектной документации (горизонтальность, вертикальность, плоскостность, параллельность), что является условием для качественного исполнения монтажа панелей.
            </div>

            <div class="h2">Как мы подходим <br>к монтажным работам</div>

            <div class="m-steps row">
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">01</div>
                        </div>
                        <div class="features-item-title">Проверяем выполнение монтажа несущих конструкций и опорных узлов
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">02</div>
                        </div>
                        <div class="features-item-title">Используем монтажные приспособления с клиновыми захватами</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">03</div>
                        </div>
                        <div class="features-item-title">Осуществляем монтажное оборудование для сэндвич-панелей на основе вакуумных присосок семейства «Oktopus» немецкой компании «Wirth GmbH»</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">04</div>
                        </div>
                        <div class="features-item-title">По окончании работ убираем всю металлическую стружку и грязь с&nbsp;поверхности обработанных панелей</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
