extends base/_layout
block vars
    -
        var metaDescr = "Проектирование сэндвич-панелей и конструкций от ведущего производителя Меркор. Надежные и индивидуальные решения для вашего проекта. Обращайтесь для консультации."
        var headerInverse = true
block head
    title Меркор | Проектирование
block page

    <div class="hero hero--panel hero--panel--service-1">
        <div class="container">
            <div class="hero-title">Проектирование</div>
            <div class="hero-subtitle">В процессе проработки документации осуществляется разработка технологии функционирования проектируемого здания или сооружения, архитектурных решений и&nbsp;конструктива, сбор нагрузок.
            </div>
            <img src="images/hero-service-1.jpg" alt="" class="hero--panel-image">
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="rulon-colors">
                <div class="rulon-colors-title pro-h2-m-center">
                    <div class="h2">Из чего состоит <br>проектирование</div>
                </div>
            </div>

            <div class="features features-home">
                <div class="row">
                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-calc.png" alt="">
                            </div>

                            <div class="features-item-title">Расчёт</div>

                            <div class="features-item-text">
                                <p>Расчёт материалов необходимых для строительства здания и&nbsp;монтажа сэндвич панелей.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-files.png" alt="">
                            </div>

                            <div class="features-item-title">Конструктивная часть</div>

                            <div class="features-item-text">
                                <p>Планируется фундамент, его размеры и слой, собирается комплект документов на сборку (документация, включающая в себя монтажные схемы перекрытия кровли, типовых узлов и стен).</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="features-item">
                            <div class="features-item-icon">
                                <img src="images/f-icon-building.png" alt="">
                            </div>

                            <div class="features-item-title">Архитектурная часть</div>

                            <div class="features-item-text">
                                <p>Разрабатывается стиль и дизайн, размеры и формы фасада и общего вида здания.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features features--mobile features-home">
                <div class="features-icons">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-calc.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-files.png" alt="">
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-icon">
                                    <img src="images/f-icon-building.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="slide-navigation">
                            <div class="prev"></div>
                            <div class="next"></div>
                        </div>
                    </div>
                </div>

                <div class="features-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="features-item-title">Расчёт</div>
                                <div class="features-item-text">
                                    <p>Расчёт материалов необходимых для строительства здания и&nbsp;монтажа сэндвич панелей..
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Конструктивная часть</div>
                                <div class="features-item-text">
                                    <p>Планируется фундамент, его размеры и слой, собирается комплект документов на сборку (документация, включающая в себя монтажные схемы перекрытия кровли, типовых узлов и стен)..</p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="features-item-title">Архитектурная часть</div>
                                <div class="features-item-text">
                                    <p>Разрабатывается стиль и дизайн, размеры и формы фасада и общего вида здания.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="m-steps m-steps--2 row">
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">01</div>
                        </div>
                        <div class="features-item-title">Расчет строительных <br>материалов</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">02</div>
                        </div>
                        <div class="features-item-title">Чертежи раскладки <br>для монтажа</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">03</div>
                        </div>
                        <div class="features-item-title">Чертежи доборных <br>элементов</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">04</div>
                        </div>
                        <div class="features-item-title">Каталог цветов <br>с&nbsp;фотографиями</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">05</div>
                        </div>
                        <div class="features-item-title">Описание сырья <br>и&nbsp;производства</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
