<div class="pro-pre row">
    <div class="col-5">
        <div class="h2">Преимущества работы с&nbsp;нами
            <div class="subtitle">Монтируем и поставляем изготовленные металлоконструкции и&nbsp;резервуары различных назначений: для промышленных зданий, торговых сооружений, спортивных комплексов, развлекательных центров и иных.</div>
        </div>
    </div>
    <div class="col-6 col-offset-1">
        <div class="features features-panel">
            <div class="row">
                <div class="col-6">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">01</div>
                        </div>

                        <div class="features-item-title">Качественные материалы</div>

                        <div class="features-item-text">
                            <p>Используемый материал резервуаров — углеродистые, низколегированные, теплоустойчивые и нержавеющие стали.</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">02</div>
                        </div>

                        <div class="features-item-title">Контроль качества</div>

                        <div class="features-item-text">
                            <p>Продукция подвергается визуальному, измерительному, ультразвуковому контролю, что обеспечивает надежность конструкций в эксплуатации.</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">03</div>
                        </div>

                        <div class="features-item-title">Собственная лаборатория</div>

                        <div class="features-item-text">
                            <p>Имеется аттестованная на выполнение работ по неразрушающему контролю сварных соединений лаборатория, производящая химические и&nbsp;механические испытания.</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="features-item">
                        <div class="features-item-icon features-item-icon--text">
                            <div class="text-outline">04</div>
                        </div>

                        <div class="features-item-title">Прозрачные расчёты</div>

                        <div class="features-item-text">
                            <p>Окончательный вес и стоимость металлоконструкций определяется после расчета заявки с учетом допуска на коррозию.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features features--mobile features-panel">
            <div class="features-icons">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">01</div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">02</div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">03</div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-icon features-item-icon--text">
                                <div class="text-outline">04</div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-navigation">
                        <div class="prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
                        <div class="next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
                    </div>
                </div>
            </div>

            <div class="features-main">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="features-item-title">Качественные материалы</div>
                            <div class="features-item-text">
                                <p>Используемый материал резервуаров — углеродистые, низколегированные, теплоустойчивые и нержавеющие стали.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-title">Контроль качества</div>
                            <div class="features-item-text">
                                <p>Продукция подвергается визуальному, измерительному, ультразвуковому контролю, что обеспечивает надежность конструкций в эксплуатации.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-title">Собственная лаборатория</div>
                            <div class="features-item-text">
                                <p>Имеется аттестованная на выполнение работ по неразрушающему контролю сварных соединений лаборатория, производящая химические и&nbsp;механические испытания.
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="features-item-title">Прозрачные расчёты</div>
                            <div class="features-item-text">
                                <p>Окончательный вес и стоимость металлоконструкций определяется после расчета заявки с учетом допуска на коррозию.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
