<div class="rulon-colors section">
    <div class="row rulon-colors-title">
        <div class="col-6">
            <div class="h2">Цветовые решения</div>
        </div>
        <div class="col-6">
            <p>Используемая прокатная оцинкованная рулонная сталь окрашивается специальными красителями, цвета и оттенки которых определяются шкалой по стандарту RAL.
            </p>
        </div>
    </div>

    <div class="ral ral-rulon">
        <div class="dark" style="background: #DED09F"><span>RAL 1014<span>Слоновая кость</span></span></div>
        <div class="dark" style="background: #F3E03B"><span>RAL 1018<span>Жёлтый цинк</span></span></div>
        <div style="background: #276235"><span>RAL 6002<span>Зелёная листва</span></span></div>
        <div style="background: #0F4336"><span>RAL 6005<span>Зелёный мох</span></span></div>

        <div style="background: #E75B12"><span>RAL 2004<span>Чисто-оранжевый</span></span></div>
        <div class="dark" style="background: #9EA0A1"><span>RAL 7004<span>Сигнально-серый</span></span></div>
        <div style="background: #8D1D2C"><span>RAL 3003<span>Рубиново-красный</span></span></div>
        <div style="background: #6B716F"><span>RAL 7005<span>Серая мышь</span></span></div>
        <div style="background: #C1121C"><span>RAL 3020<span>Красный светофор</span></span></div>
        <div style="background: #154889"><span>RAL 5005<span>Сигнально-синий</span></span></div>

        <div style="background: #6A93B0"><span>RAL 5024<span>Пастельно-голубой</span></span></div>
        <div class="dark" style="background: #A5A8A6"><span>RAL 9006<span>Белый алюминий</span></span></div>

        <div style="background: #703731"><span>RAL 3009<span>Оксид-красный</span></span></div>
        <div style="background: #07737A"><span>RAL 5021<span>Морская волна</span></span></div>
        <div class="dark" style="background: #DDDED4"><span>RAL 9002<span>Серо-белый</span></span></div>
        <div class="dark" style="background: #F4F8F4"><span>RAL 9003<span>Сигнально-белый</span></span></div>

        <div style="background: #5E2028"><span>RAL 3005<span>Спелая вишня</span></span></div>
        <div style="background: #44322D"><span>RAL 8017<span>Шоколад</span></span></div>
        <div style="background: #7E292C"><span>RAL 3011<span>Красно-коричневый</span></span></div>
        <div style="background: #2B2C7C"><span>RAL 5002<span>Ультрасиний</span></span></div>
    </div>

    <div class="ral ral-rulon ral-rulon-mobile">
        <div class="dark" style="background: #DED09F"><span>RAL 1014<span>Слоновая кость</span></span></div>
        <div class="dark" style="background: #F3E03B"><span>RAL 1018<span>Жёлтый цинк</span></span></div>
        <div style="background: #276235"><span>RAL 6002<span>Зелёная листва</span></span></div>
        <div style="background: #0F4336"><span>RAL 6005<span>Зелёный мох</span></span></div>

        <div class="ral-row">
            <div style="background: #E75B12"><span>RAL 2004<span>Чисто-оранжевый</span></span></div>
            <div class="dark" style="background: #9EA0A1"><span>RAL 7004<span>Сигнально-серый</span></span>
            </div>
            <div style="background: #8D1D2C"><span>RAL 3003<span>Рубиново-красный</span></span></div>
            <div style="background: #6B716F"><span>RAL 7005<span>Серая мышь</span></span></div>
        </div>

        <div class="ral-row">
            <div style="background: #C1121C"><span>RAL 3020<span>Красный светофор</span></span></div>
            <div style="background: #154889"><span>RAL 5005<span>Сигнально-синий</span></span></div>
            <div style="background: #6A93B0"><span>RAL 5024<span>Пастельно-голубой</span></span></div>
            <div class="dark" style="background: #A5A8A6"><span>RAL 9006<span>Белый алюминий</span></span></div>
        </div>

        <div class="ral-row">
            <div style="background: #703731"><span>RAL 3009<span>Оксид-красный</span></span></div>
            <div style="background: #07737A"><span>RAL 5021<span>Морская волна</span></span></div>
            <div class="dark" style="background: #DDDED4"><span>RAL 9002<span>Серо-белый</span></span></div>
            <div class="dark" style="background: #F4F8F4"><span>RAL 9003<span>Сигнально-белый</span></span>
            </div>
        </div>

        <div class="ral-row">
            <div style="background: #5E2028"><span>RAL 3005<span>Спелая вишня</span></span></div>
            <div style="background: #44322D"><span>RAL 8017<span>Шоколад</span></span></div>
            <div style="background: #7E292C"><span>RAL 3011<span>Красно-коричневый</span></span></div>
            <div style="background: #2B2C7C"><span>RAL 5002<span>Ультрасиний</span></span></div>
        </div>
    </div>
</div>
