.company.section 

    h2.h2.company__title О компании

    .company__wrapper.js-company-wrapper

            p.company__subtitle Компания «Меркор» занимается комплексной поставкой трехслойных кровельных и стеновых сэндвич-панелей на заказ по выгодным ценам.

            p.company__text В распоряжении компании несколько тысяч квадратных метров производственных площадей, современное высококачественное оборудование от мировых производителей. В обязательном порядке осуществляется контроль качества выпускаемой продукции на всех стадиях производства. В штате компании работают профильные специалисты с многолетним опытом за плечами которых сотни успешно реализованных проектов.

            p.company__name В компетенции и возможности предприятия входит:

            ul.company__list 

                li Проектирование.
                li Изготовление сэндвич-панелей напрямую от завода производителя.
                li Производство металлоконструкций и резервуаров.
                li Доставка в любую точку РФ собственным автотранспортом компании.
                li Монтаж металлоконструкций, сэндвич-панелей и резервуаров .
                li Сопровождение на всех стадиях сотрудничества.

            p.company__name Преимущества сотрудничества с компанией «Меркор»:
            
            ul.company__list 

                li Воплощаем любые идеи клиента, работаем с типовыми и нестандартными проектами, а также готовы работать в сжатые сроки.
                li Предлагаем специальные условия для корпоративных клиентов, строительных организаций и профильных специалистов.
                li Технические характеристики используемых материалов четко соответствуют всем требованиям ГОСТ и ТУ.
                li Широкий ассортимент изготавливаемой продукции позволяет подобрать материал для любых строительных задач.

            p.company__text.
                Мы с нетерпением ждем возможности сотрудничать с вами и превратить ваши идеи в реальность 
                #[strong #[a(href="#") оставьте заявку на сайте] или #[a(href="tel:88002507077") позвоните по телефону 8 (800) 250-70-77]] Сделайте следующий шаг к успешной реализации вашего проекта и свяжитесь с нами сегодня!

            button.company__showall.js-company-showall(type="button") Показать текст полностью
