.descr__block

    h2.h2 Производство #[br]металлоконструкций

    p Монтируем и поставляем изготовленные металлоконструкции и резервуары различных назначений: для промышленных зданий, торговых сооружений, спортивных комплексов, развлекательных центров и иных.

    p Монтируем и поставляем изготовленные металлоконструкции и резервуары различных назначений: для промышленных зданий, торговых сооружений, спортивных комплексов, развлекательных центров и иных.
