.footer 
    .container 

        .footer__main 

            .footer__links

                .footer__group 

                    a.footer__link(href="#") Продукция
                    a.footer__sublink(href="#") Сэндвич-панели с минеральной ватой
                    a.footer__sublink(href="#") Сэндвич-панели PIR
                    a.footer__sublink(href="#") Стеновые сэндвич-панели
                    a.footer__sublink(href="#") Кровельные сэндвич-панели
                    a.footer__sublink(href="#") Фасонные элементы и комплектующие
                    a.footer__sublink(href="#") Профнастил
                    a.footer__sublink(href="#") Окрашенная рулонная сталь


                .footer__group 

                    a.footer__link(href="#") Услуги
                    a.footer__sublink(href="#") Изготовление металлоконструкций
                    a.footer__sublink(href="#") Монтаж металлоконструкций
                    a.footer__sublink(href="#") Монтаж сэндвич-панелей
                    a.footer__sublink(href="#") Проектирование
                    a.footer__sublink(href="#") Доставка


                .footer__group 

                    a.footer__link(href="#") Производство
                    a.footer__link(href="#") Объекты
                    a.footer__link(href="#") Запрос расчета
                    a.footer__link(href="#") Компания
                    a.footer__link(href="#") Контакты


            .footer__info 
                a.footer__phone(href="tel:88003004870") 8 800 300-48-70

                a.footer__email(href="mailto:merkor001@merkor.ru") merkor001@merkor.ru

                adress.footer__adress ул. Северная, д. 311/1, оф. 310

        .footer__bottom 

            p.footer__copyright © Меркор, 2023

            a.footer__policy(href="#") Политика конфиденциальности

            a.footer__developed(href="#") Разработка сайта #[img(src="./images/footer/art6.svg" alt="logo" width="87" height="22" loading="lazy" decoding="async")]
