<footer class="footer">
    <div class="container">
        <div class="footer-line">
            <ul class="footer-links">
                <li>
                    <a href="./index.html#production">Продукция</a>
                </li>
                <li>
                    <a href="#" class="js-service-link">Услуги</a>
                    <div class="menu-services">
                        <a href="./services/services-metal-structures.html">
                            <span class="hms-img">
                                <img src="images/svg/hms-1.svg" alt="">
                            </span> Металлоконструкции и резервуары
                            <span>Производство и монтаж</span> </a>
                        <a href="./services/project.html">
                            <span class="hms-img">
                                <img src="images/svg/hms-2.svg" alt="">
                            </span> Проектирование
                        </a>
                        <a href="./services/delivery.html">
                            <span class="hms-img">
                                <img src="images/svg/hms-3.svg" alt="">
                            </span> Доставка
                        </a>
                        <a href="./services/installation.html">
                            <span class="hms-img">
                                <img src="images/svg/hms-4.svg" alt="">
                            </span> Монтаж
                        </a>
                    </div>
                </li>
                <li>
                    <a href="./manufacturing.html">Производство</a>
                </li>
                <li>
                    <a href="./objects.html">Объекты</a>
                </li>
                <li>
                    <a href="./calc.html">Запрос расчёта</a>
                </li>
                <li>
                    <a href="./about.html">Компания</a>
                </li>
                <li>
                    <a href="./contacts.html">Контакты</a>
                </li>
            </ul>

            <a download target="_blank" href="./files/privacy.pdf" class="footer-line-link u u-hover">Политика конфиденциальности</a>
        </div>

        <div class="footer-contacts">
            <div class="footer-contact">
                <a class="footer-contact-link u u-hover" href="tel:88002507077">8 800 250 70 77</a>
                <div class="footer-contact-info">© Меркор, 2024</div>
            </div>

            <div class="footer-contact">
                <a class="footer-contact-link u u-hover" href="mailto:info@merkor.ru">info@merkor.ru</a>
                <div class="footer-contact-info">Разработка сайта — <a href="https://cubadesign.ru/" class="u u-hover" target="_blank">CUBA</a>
                </div>
            </div>
        </div>
    </div>
</footer>
