.good_item 
    .container 

        .good_item__wrapper 

            h2.good_item__title Низкие цены на сэндвич-панели #[br]2-го сорта

            .good_item__picture

                picture
                    source(media="(min-width: 992px)" srcset="./images/goods/good-1.webp" type="image/webp")
                    source(media="(max-width: 991px)" srcset="./images/goods/good-1-mob.webp" type="image/webp")
                    img(src="./images/goods/good-1.webp" alt="" width="543" height="273" decoding="async")

            .good_item__descr

                p Всегда в наличии на складе компании сэндвич-панели с незначительными повреждениями. Они активно используются вне зоны видимости глаз. Применяются в качестве доборных элементов конструкций, на обратной стороне зданий, крыше и многих других элементах. 

                p Применение некондиционных сэндвич-панелей позволяет значительно снизить затраты на приобретение материалов. Зачастую они ничем не уступают сэндвич-панелям 1-го сорта. Оставьте заявку на сайте или позвоните по указанному номеру телефона. #[strong Мы подберем для вас самое выгодное предложение!]

                button.good_item__btn.js-open-modal-calculation(type="btn") Узнать подробнее
