<div class="mobile-info">
    <div class="container has-scroll">
        <ul class="mobile-menu">
            <li><a class="mobile-menu-link" href="#">Продукция</a></li>
            <li>
                <div class="mobile-menu-link">Продукция
                    <div class="mobile-menu-services">
                        <a href="./services-metal-structures.html">Сэндвич панели:</a>
                        a.mobile-menu__inner-link(href="#") Сэндвич-панели с минеральной ватой
                        a.mobile-menu__inner-link(href="#") Сэндвич-панели PIR
                        a.mobile-menu__inner-link(href="#") Стеновые сэндвич-панели
                        a.mobile-menu__inner-link(href="#") Кровельные сэндвич-панели

                        <a href="./services-installation.html">Фасонные элементы и комплектующие</a>
                        <a href="./services-installation.html">Профнастил</a>
                        <a href="./services-project.html">Окрашенная рулонная сталь</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="mobile-menu-link">Услуги
                    <div class="mobile-menu-services">
                        <a href="./services-metal-structures.html">Изготовление металлоконструкций</a>
                        a.mobile-menu__inner-link(href="#") Изготовление металлоконструкций из черного металла
                        a(href="#").mobile-menu__inner-link Изготовление каркасов ЛСТК
                        <a href="./services-installation.html">Монтаж металлоконструкций</a>
                        <a href="./services-installation.html">Монтаж сэндвич-панелей</a>
                        <a href="./services-project.html">Проектирование</a>
                        <a href="./services-delivery.html">Доставка</a>
                    </div>
                </div>
            </li>
            <li><a class="mobile-menu-link" href="./manufacturing.html">Производство</a></li>
            <li><a class="mobile-menu-link" href="./objects.html">Объекты</a></li>
            <li><a class="mobile-menu-link" href="./calc.html">Запрос расчёта</a></li>
            <li><a class="mobile-menu-link" href="./about.html">Компания</a></li>
            <li><a class="mobile-menu-link" href="./contacts.html">Контакты</a></li>

        </ul>

        <a class="mobile-info-link" href="tel:88002507077">8 800 250 70 77</a>
    </div>
</div>
