.confirm.js-modal-confirm.is-active

  .confirm__overlay.js-modal-close

  .confirm__content
    
    button.confirm__close.js-modal-close(type="button" aria-label="Закрыть окно")

    p.confirm__thanks Спасибо за заявку!

    p.confirm__msg В ближайшее время мы вам перевзвоним
