.modal_feedback.js-modal-calculation

    .modal_feedback__overlay.js-modal-close

    .modal_feedback__container 

        h3.modal_feedback__title Оставьте заявку на бесплатный расчет

        p.modal_feedback__subtitle Мы детально проконсультируем и расскажем о всех нюансах

        button.modal_feedback__close.js-modal-close(type="button" aria-label="Закрыть модальное окно")

        input.modal_feedback__input(type="text" placeholder="Имя")

        input.modal_feedback__input(type="text" placeholder="Телефон")

        button.modal_feedback__submit(type="submit") Оставить заявку

        p.modal_feedback__policy
            span Нажав на кнопку, вы даете согласие на обработку 
            a(href="#") персональных данных







