<div class="other-products-title">
    <div class="h2">Другая <br>продукция</div>
</div>

<div class="products">
    <div class="row">
        <div class="col-3">
            <div class="products-item products-item--blue">
                <a href="./products/panels-mineral-wool.html" class="products-item-link">
                    <span class="products-item-images">
                        <img src="images/products/p-b-1.png" alt="">
                        <img src="images/products/p-b-2.png" alt="">
                        <img src="images/products/p-b-3.png" alt="">
                        <img src="images/products/p-b-4.png" alt="">
                    </span>
                    <span class="products-item-title">Сэндвич-панели <br>с&nbsp;минеральной&nbsp;ватой</span>
                </a>
                <a href="./files/tech-catalog.pdf" download target="_blank" class="products-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Технический каталог
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="products-item products-item--yellow">
                <a href="./products-panels-pir.html" class="products-item-link">
                    <span class="products-item-images">
                        <img src="images/products/p-y-1.png" alt="">
                        <img src="images/products/p-y-2.png" alt="">
                        <img src="images/products/p-y-3.png" alt="">
                        <img src="images/products/p-y-4.png" alt="">
                    </span>
                    <span class="products-item-title">Сэндвич-панели <br>PIR</span>
                </a>
                <a href="./files/tech-catalog.pdf" download target="_blank" class="products-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Технический каталог
                </a>
            </div>
        </div>

        <div class="col-3">
            <div class="products-item products-item--red">
                <a href="./products-panels-wall.html" class="products-item-link">
                    <span class="products-item-images">
                        <img src="images/products/p-r-1.png" alt="">
                        <img src="images/products/p-r-2.png" alt="">
                        <img src="images/products/p-r-3.png" alt="">
                        <img src="images/products/p-r-4.png" alt="">
                    </span>
                    <span class="products-item-title">Стеновые <br>сэндвич-панели</span>
                </a>
                <a href="./files/tech-catalog.pdf" download target="_blank" class="products-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Технический каталог
                </a>
            </div>
        </div>

        <div class="col-3">
            <div class="products-item products-item--gray">
                <a href="./products-panels-roof.html" class="products-item-link">
                    <span class="products-item-images">
                        <img src="images/products/p-g-1.png" alt="">
                        <img src="images/products/p-g-2.png" alt="">
                        <img src="images/products/p-g-3.png" alt="">
                        <img src="images/products/p-g-4.png" alt="">
                    </span>
                    <span class="products-item-title">Кровельные <br>сэндвич-панели</span>
                </a>
                <a href="./files/tech-catalog.pdf" download target="_blank" class="products-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Технический каталог
                </a>
            </div>
        </div>
    </div>
</div>

<div class="products2">
    <div class="row">
        <div class="col-4">
            <div class="products2-item products2-item--1">
                <a href="./products-fason.html" class="products2-item-link">
                    <span class="images invis-scroll">
                        <img src="images/products/f-1.png" alt="">
                        <img src="images/products/f-2.png" alt="">
                        <img src="images/products/f-3.png" alt="">
                        <img src="images/products/f-4.png" alt="">
                        <img src="images/products/f-5.png" alt="">
                        <img src="images/products/f-6.png" alt="">
                        <img src="images/products/f-7.png" alt="">
                        <img src="images/products/f-8.png" alt="">
                        <img src="images/products/f-9.png" alt="">
                    </span>
                    <span class="title">Фасонные элементы и комплектующие</span>
                </a>
                <a href="./files/fason-catalog.pdf" download target="_blank" class="products2-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Каталог узлов и соединений
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="products2-item products2-item--2">
                <a href="./products-prof.html" class="products2-item-link">
                    <span class="image">
                        <img src="images/products/prof.png" alt="">
                    </span>
                    <span class="title">Профнастил</span>
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="products2-item products2-item--3">
                <a href="./products-rulon" class="products2-item-link">
                    <span class="image">
                        <img src="images/products/rulon.png" alt="">
                    </span>
                    <span class="title">Окрашенная <br>рулонная сталь</span>
                </a>
            </div>
        </div>
    </div>
</div>
