<div class="production-title" id="production">
    <svg viewBox="0 0 1338 153" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M112.777 3.4999V126H84.602V26.5999H29.302V126H1.12695V3.4999H112.777ZM213.669 3.4999C224.519 3.4999 233.91 5.30823 241.844 8.9249C249.894 12.5416 256.077 17.6749 260.394 24.3249C264.71 30.9749 266.869 38.8499 266.869 47.9499C266.869 56.9332 264.71 64.8082 260.394 71.5749C256.077 78.2249 249.894 83.3582 241.844 86.9749C233.91 90.4749 224.519 92.2249 213.669 92.2249H188.994V126H160.644V3.4999H213.669ZM212.094 69.1249C220.61 69.1249 227.085 67.3166 231.519 63.6999C235.952 59.9666 238.169 54.7166 238.169 47.9499C238.169 41.0666 235.952 35.8166 231.519 32.1999C227.085 28.4666 220.61 26.5999 212.094 26.5999H188.994V69.1249H212.094ZM363.229 128.1C350.513 128.1 339.021 125.358 328.754 119.875C318.604 114.392 310.613 106.867 304.779 97.2999C299.063 87.6166 296.204 76.7666 296.204 64.7499C296.204 52.7332 299.063 41.9416 304.779 32.3749C310.613 22.6916 318.604 15.1082 328.754 9.6249C339.021 4.14157 350.513 1.3999 363.229 1.3999C375.946 1.3999 387.379 4.14157 397.529 9.6249C407.679 15.1082 415.671 22.6916 421.504 32.3749C427.338 41.9416 430.254 52.7332 430.254 64.7499C430.254 76.7666 427.338 87.6166 421.504 97.2999C415.671 106.867 407.679 114.392 397.529 119.875C387.379 125.358 375.946 128.1 363.229 128.1ZM363.229 103.95C370.463 103.95 376.996 102.317 382.829 99.0499C388.663 95.6666 393.213 90.9999 396.479 85.0499C399.863 79.0999 401.554 72.3332 401.554 64.7499C401.554 57.1666 399.863 50.3999 396.479 44.4499C393.213 38.4999 388.663 33.8916 382.829 30.6249C376.996 27.2416 370.463 25.5499 363.229 25.5499C355.996 25.5499 349.463 27.2416 343.629 30.6249C337.796 33.8916 333.188 38.4999 329.804 44.4499C326.538 50.3999 324.904 57.1666 324.904 64.7499C324.904 72.3332 326.538 79.0999 329.804 85.0499C333.188 90.9999 337.796 95.6666 343.629 99.0499C349.463 102.317 355.996 103.95 363.229 103.95ZM592.526 102.9V151.375H566.276V126H479.826V151.375H453.576L453.751 102.9H458.651C466.001 102.667 471.192 97.2999 474.226 86.7999C477.259 76.2999 479.126 61.3082 479.826 41.8249L481.226 3.4999H575.376V102.9H592.526ZM504.851 44.4499C504.267 59.0332 503.042 71.2832 501.176 81.1999C499.309 90.9999 496.451 98.2332 492.601 102.9H547.376V26.5999H505.376L504.851 44.4499ZM739.71 3.4999L687.56 100.45C682.544 109.783 676.477 116.842 669.36 121.625C662.36 126.408 654.719 128.8 646.435 128.8C640.019 128.8 633.369 127.4 626.485 124.6L633.31 103.075C638.21 104.592 642.294 105.35 645.56 105.35C649.06 105.35 652.21 104.533 655.01 102.9C657.81 101.15 660.377 98.4666 662.71 94.8499L663.76 93.4499L615.46 3.4999H645.735L678.285 69.2999L711.885 3.4999H739.71ZM818.108 76.6499H798.508V126H770.333V3.4999H798.508V53.0249H818.808L851.008 3.4999H880.933L840.858 62.6499L882.158 126H849.958L818.108 76.6499ZM1041.39 102.9V151.9H1015.31V126H912.938V3.4999H941.113V102.9H995.714V3.4999H1023.89V102.9H1041.39ZM1077.58 3.4999H1105.76V83.2999L1164.21 3.4999H1190.81V126H1162.81V46.3749L1104.36 126H1077.58V3.4999ZM1336.63 3.4999V126H1308.63V93.4499H1282.73L1261.03 126H1231.11L1256.66 89.0749C1248.37 85.6916 1242.02 80.6166 1237.58 73.8499C1233.15 66.9666 1230.93 58.7416 1230.93 49.1749C1230.93 39.7249 1233.09 31.6166 1237.41 24.8499C1241.72 17.9666 1247.85 12.7166 1255.78 9.0999C1263.72 5.36656 1273.05 3.4999 1283.78 3.4999H1336.63ZM1284.48 26.5999C1276.43 26.5999 1270.25 28.4666 1265.93 32.1999C1261.73 35.9332 1259.63 41.4749 1259.63 48.8249C1259.63 55.9416 1261.67 61.4249 1265.76 65.2749C1269.84 69.1249 1275.85 71.0499 1283.78 71.0499H1308.63V26.5999H1284.48Z" stroke="black" stroke-width="2" mask="url(#path-1-outside-1_1265_31221)"></path>
    </svg>
</div>

include ./_products-first

<div class="products2">
    <div class="row">
        <div class="col-4">
            <div class="products2-item products2-item--1">
                <a href="./products-fason.html" class="products2-item-link">
                    <span class="images invis-scroll">
                        <img src="./images/products/f-1.png" alt="">
                        <img src="./images/products/f-2.png" alt="">
                        <img src="./images/products/f-3.png" alt="">
                        <img src="./images/products/f-4.png" alt="">
                        <img src="./images/products/f-5.png" alt="">
                        <img src="./images/products/f-6.png" alt="">
                        <img src="./images/products/f-7.png" alt="">
                        <img src="./images/products/f-8.png" alt="">
                        <img src="./images/products/f-9.png" alt="">
                    </span>
                    <span class="title"> Фасонные элементы и комплектующие</span>
                </a>
                <a download target="_blank" href="./files/fason-catalog.pdf" class="products2-item-download">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 10V12.6667C14 13.0203 13.8595 13.3594 13.6095 13.6095C13.3594 13.8595 13.0203 14 12.6667 14H3.33333C2.97971 14 2.64057 13.8595 2.39052 13.6095C2.14048 13.3594 2 13.0203 2 12.6667V10" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4.66602 6.6665L7.99935 9.99984L11.3327 6.6665" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8 10V2" stroke="black" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg> Каталог узлов и соединений
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="products2-item products2-item--2">
                <a href="./products-prof.html" class="products2-item-link">
                    <span class="image">
                        <img src="./images/products/prof.png" alt="">
                    </span>
                    <span class="title">Профнастил</span>
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="products2-item products2-item--3">
                <a href="./products-rulon.html" class="products2-item-link">
                    <span class="image">
                        <img src="./images/products/rulon.png" alt="">
                    </span>
                    <span class="title">Окрашенная <br>рулонная сталь</span>
                </a>
            </div>
        </div>
    </div>
</div>
