.request

    form(action="#").request__form

        h2.h2.request__title Оставьте заявку на бесплатный расчет

        p.request__subtitle Мы свяжемся с вами и сообщим стоимость и сроки

        input.request__input(type="text" placeholder="Имя")

        input.request__input(type="text" placeholder="Телефон")

        button.request__submit(type="submit") Получить расчет

        p.request__policy
            span Нажав на кнопку, вы даете согласие на обработку 
            a(href="#") персональных данных


