<div class="m-steps m-steps--2 row section">
    <div class="col-3">
        <div class="features-item">
            <div class="features-item-icon features-item-icon--text">
                <div class="text-outline">01</div>
            </div>
            <div class="features-item-title">Расчет строительных <br>материалов</div>
        </div>
    </div>
    <div class="col-3">
        <div class="features-item">
            <div class="features-item-icon features-item-icon--text">
                <div class="text-outline">02</div>
            </div>
            <div class="features-item-title">Чертежи раскладки <br>для монтажа</div>
        </div>
    </div>
    <div class="col-3">
        <div class="features-item">
            <div class="features-item-icon features-item-icon--text">
                <div class="text-outline">03</div>
            </div>
            <div class="features-item-title">Чертежи доборных <br>элементов</div>
        </div>
    </div>
    <div class="col-3">
        <div class="features-item">
            <div class="features-item-icon features-item-icon--text">
                <div class="text-outline">04</div>
            </div>
            <div class="features-item-title">Каталог цветов <br>с&nbsp;фотографиями</div>
        </div>
    </div>
    <div class="col-3">
        <div class="features-item">
            <div class="features-item-icon features-item-icon--text">
                <div class="text-outline">05</div>
            </div>
            <div class="features-item-title">Описание сырья <br>и&nbsp;производства</div>
        </div>
    </div>
</div>
