.good_item {
    padding: 69px 0;

    @include xs {
        padding: 50px 0;
    }
}

.good_item__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 28px 66px;
    grid-template-areas:
        "title picture"
        "descr picture";

    // @include md {
    //     grid-template-columns: repeat(5, 1fr);
    //     grid-template-areas:
    //         "title title title picture picture"
    //         "descr descr descr picture picture";
    // }

    @include lg {
        gap: 20px 30px;
    }

    @include sm {
        display: block;
    }
}

.good_item__title {
    grid-area: title;
    font-weight: 700;
    font-size: 52px;
    line-height: 110%;
    color: #0e0e0e;
    text-wrap: balance;

    @include md {
        font-size: 42px;
    }

    @include sm {
        margin-bottom: 20px;
    }

    @include xs {
        font-size: 26px;
    }
}

.good_item__picture {
    grid-area: picture;

    picture,
    img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
    }

    @include sm {
        max-width: 600px;
        margin-bottom: 30px;
    }
}

.good_item__descr {
    grid-area: descr;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #0e0e0e;

    p {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    @include sm {
        max-width: 673px;
    }

    @include xs {
        font-size: 16px;
        line-height: 145%;
    }
}

.good_item__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin-top: 40px;
    padding: 5px 25px;
    border-radius: 2px;
    font-size: 16px;
    background: #00b2e3;
    border: 2px solid #00b2e3;
    color: #fff;
    transition: all 0.2s ease-out;

    @media (hover: hover) {
        &:hover {
            background: #fff;
            color: #00b2e3;
        }
    }

    @include xs {
        width: 100%;
        margin-top: 38px;
    }
}
